@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-house:before { content: "\f100"; }
.flaticon-002-shield:before { content: "\f101"; }
.flaticon-003-glass:before { content: "\f102"; }
.flaticon-004-cleaning:before { content: "\f103"; }
.flaticon-005-hand:before { content: "\f104"; }
.flaticon-006-dryer:before { content: "\f105"; }
.flaticon-007-sanitary-towel:before { content: "\f106"; }
.flaticon-008-hand:before { content: "\f107"; }
.flaticon-009-sanitizer:before { content: "\f108"; }
.flaticon-010-spray:before { content: "\f109"; }
.flaticon-011-toilet:before { content: "\f10a"; }
.flaticon-012-tap:before { content: "\f10b"; }
.flaticon-013-bleach:before { content: "\f10c"; }
.flaticon-014-reject:before { content: "\f10d"; }
.flaticon-015-brush:before { content: "\f10e"; }
.flaticon-016-tissues:before { content: "\f10f"; }
.flaticon-017-soap:before { content: "\f110"; }
.flaticon-018-pot:before { content: "\f111"; }
.flaticon-019-thermometer:before { content: "\f112"; }
.flaticon-020-character:before { content: "\f113"; }
.flaticon-021-tap:before { content: "\f114"; }
.flaticon-022-bottle:before { content: "\f115"; }
.flaticon-023-pipette:before { content: "\f116"; }
.flaticon-024-foot:before { content: "\f117"; }
.flaticon-025-products:before { content: "\f118"; }
.flaticon-026-bucket:before { content: "\f119"; }
.flaticon-027-washing-machine:before { content: "\f11a"; }
.flaticon-028-gloves:before { content: "\f11b"; }
.flaticon-029-pool:before { content: "\f11c"; }
.flaticon-030-facemask:before { content: "\f11d"; }
.flaticon-031-toilet:before { content: "\f11e"; }
.flaticon-032-sink:before { content: "\f11f"; }
.flaticon-033-bath:before { content: "\f120"; }
.flaticon-034-roll:before { content: "\f121"; }
.flaticon-035-soap:before { content: "\f122"; }
.flaticon-036-cream:before { content: "\f123"; }
.flaticon-037-towel:before { content: "\f124"; }
.flaticon-038-chopping-board:before { content: "\f125"; }
.flaticon-039-toilet-brush:before { content: "\f126"; }
.flaticon-040-dispenser:before { content: "\f127"; }

$font-Flaticon-001-house: "\f100";
$font-Flaticon-002-shield: "\f101";
$font-Flaticon-003-glass: "\f102";
$font-Flaticon-004-cleaning: "\f103";
$font-Flaticon-005-hand: "\f104";
$font-Flaticon-006-dryer: "\f105";
$font-Flaticon-007-sanitary-towel: "\f106";
$font-Flaticon-008-hand: "\f107";
$font-Flaticon-009-sanitizer: "\f108";
$font-Flaticon-010-spray: "\f109";
$font-Flaticon-011-toilet: "\f10a";
$font-Flaticon-012-tap: "\f10b";
$font-Flaticon-013-bleach: "\f10c";
$font-Flaticon-014-reject: "\f10d";
$font-Flaticon-015-brush: "\f10e";
$font-Flaticon-016-tissues: "\f10f";
$font-Flaticon-017-soap: "\f110";
$font-Flaticon-018-pot: "\f111";
$font-Flaticon-019-thermometer: "\f112";
$font-Flaticon-020-character: "\f113";
$font-Flaticon-021-tap: "\f114";
$font-Flaticon-022-bottle: "\f115";
$font-Flaticon-023-pipette: "\f116";
$font-Flaticon-024-foot: "\f117";
$font-Flaticon-025-products: "\f118";
$font-Flaticon-026-bucket: "\f119";
$font-Flaticon-027-washing-machine: "\f11a";
$font-Flaticon-028-gloves: "\f11b";
$font-Flaticon-029-pool: "\f11c";
$font-Flaticon-030-facemask: "\f11d";
$font-Flaticon-031-toilet: "\f11e";
$font-Flaticon-032-sink: "\f11f";
$font-Flaticon-033-bath: "\f120";
$font-Flaticon-034-roll: "\f121";
$font-Flaticon-035-soap: "\f122";
$font-Flaticon-036-cream: "\f123";
$font-Flaticon-037-towel: "\f124";
$font-Flaticon-038-chopping-board: "\f125";
$font-Flaticon-039-toilet-brush: "\f126";
$font-Flaticon-040-dispenser: "\f127";