.comment-list-wrap {
	margin-top: 63px;
}
.comment-respond{
	margin-top: 65px;
}

.comments-title,
.comment-reply-title{
	font-size: 24px;
    margin: 0 0 30px 0;
    font-weight: 700;
}
.woocommerce-Reviews-title{
	display: none;
}

.commentlist{
	list-style: none;
	padding: 0;
	margin: 0;
	.comment,
	.review{
		margin-top: 30px;
	}
	> .comment,
	> .review{
		&:first-child{
			margin-top: 0;
			padding-top: 0;
			border-top: 0;
		}
		&:not(:last-child){
			> .children{
				margin-bottom: 17px;
			}
		}
	}
	.comment-avatar img{
		border: $comment-border;
		@include border-radius($comment-radius);
		@media (max-width: $screen-md-max){
			max-width: 30px;
		}
	}
	.comment-content{
		max-width: calc(100% - #{$comment-avatar-size}px - #{$grid-gutter-width});
		@media (max-width: $screen-md-max){
			max-width: calc(100% - 45px);
		}
		.comment-title{
			margin-top: -3px;
		}
		.comment-meta{
			font-size: 12px;
			color: #333;
		}
		.comment-text{
			padding-top: 7px;
		}
		.comment-reply{
			padding-top: 5px;
		}
	}
	.children{
		list-style: none;
		padding: 0 0 0 15px;
		margin: 0;
		[dir="rtl"] &{
			padding: 0 15px 0 0;
		}
		@media (min-width: $screen-lg-min){
			padding: 0 0 0 calc(#{$comment-avatar-size}px + 30px);
			[dir="rtl"] &{
				padding: 0 calc(#{$comment-avatar-size}px + 30px) 0 0;
			}
		}
	}
	.comment-reply-link{
		font-weight: 700;
		color: $accent-color;
		font-size: 14px;
		&:hover{
			color: $primary-color;
		}
	}
}
// Respone Form 
#respond{
	#commentform{
		.comment-form-comment{
			margin-top: $grid-gutter-width;
			textarea{
				height: 158px;
			}
		}
	}
	.comment-form-cookies-consent{
		padding-top: 15px;
		display: flex;
		flex-wrap: wrap;
		.cms-custom-checkbox{
			flex: 0 0 auto;
			margin-top: 1px;
		}
		label{
			flex-basis: 0;
		    flex-grow: 1;
		    max-width: 100%;
		}
	}
	.form-submit{
		margin: 40px 0 0;
	}

	.comment-form-field{
		input,
		textarea{
			@include box-shadow( 0 0 0 2px #efefef inset);
			background: #efefef;
		}
	}
}
.logged-in-as{
	margin-bottom: 0;
}
#cancel-comment-reply-link{
	padding-left: 30px;
	color: red;
	[dir="rtl"] & {
		padding-left: 0;
		padding-right: 30px;
	}
}
.comment-body + .comment-respond{
	margin-top: 25px;
	+ ul.children{
		margin-top: 15px;
	}
}
p.no-comments{
	margin-top: 30px;
	color: red;
}