.comment-list-wrap {
	margin-top: 63px;
}
.comment-respond{
	margin-top: 53px;
}

.comments-title,
.comment-reply-title{
	font-size: 21px;
	margin: 0 0 23px 0;
}
.woocommerce-Reviews-title{
	display: none;
}

.commentlist{
	list-style: none;
	padding: 0;
	margin: 0;
	.comment,
	.review{
		margin-top: 23px;
		padding-top: 30px;
		border-top: $border-main2;
	}
	> .comment,
	> .review{
		&:first-child{
			margin-top: 0;
			padding-top: 0;
			border-top: 0;
		}
	}
	.comment-avatar img{
		border: $comment-border;
		@include border-radius($comment-radius);
		@media (max-width: $screen-md-max){
			max-width: 30px;
		}
	}
	.comment-content{
		max-width: calc(100% - #{$comment-avatar-size}px - #{$grid-gutter-width});
		@media (max-width: $screen-md-max){
			max-width: calc(100% - 45px);
		}
		.comment-title{
			margin-top: -6px;
		}
		.comment-meta{
			font-size: 12px;
			color: #333;
		}
		.comment-text{
			padding-top: 7px;
		}
		.comment-reply{
			padding-top: 5px;
		}
	}
	.children{
		list-style: none;
		padding: 0 0 0 15px;
		margin: 0;
		[dir="rtl"] &{
			padding: 0 15px 0 0;
		}
		@media (min-width: $screen-lg-min){
			padding: 0 0 0 calc(#{$comment-avatar-size}px + 30px);
			[dir="rtl"] &{
				padding: 0 calc(#{$comment-avatar-size}px + 30px) 0 0;
			}
		}
	}
	.comment-reply-link{
		font-weight: 700;
		color: $accent-color;
		font-size: 14px;
		&:hover{
			color: $primary-color;
		}
	}
}
// Respone Form 
#respond{
	#commentform{
		> .row{
			margin: -15px;
			> .comment-form-field{
				padding: 15px;
			}
			.comment-form-comment{
				margin-top: 15px;
				textarea{
					height: 120px;
				}
			}
		}
	}
	.comment-form-cookies-consent{
		padding-top: 15px;
		display: flex;
		flex-wrap: wrap;
		.cms-custom-checkbox{
			flex: 0 0 auto;
			margin-top: 1px;
		}
		label{
			flex-basis: 0;
		    flex-grow: 1;
		    max-width: 100%;
		}
	}
	.form-submit{
		margin: 40px 0 0;
	}
}
#cancel-comment-reply-link{
	padding-left: 30px;
	color: red;
	[dir="rtl"] & {
		padding-left: 0;
		padding-right: 30px;
	}
}
.comment-body + .comment-respond{
	margin-top: 12px;
	.comment-reply-title{
		margin-bottom: 13px;
	}
	.logged-in-as{
		margin-bottom: 5px;
	}
	.form-submit{
		margin-top: 25px!important;
	}
}
p.no-comments{
	margin-top: 30px;
	color: red;
}