.cms-post-meta{
	font-size: $meta-font-size;
	font-family: $meta-font-family;
	color: $meta-font-color;
	font-weight: $meta-font-weight;
	position: relative;
	a{
		color: $meta-font-color;
		&:hover{
			color: $meta-font-color-hover;
		}
	}
	.cms-meta-separator{
		width: 8px;
		height: 4px;
		display: block;
		background: $border-color;
	}

	.cms-post-cat{
		color: $accent-color;
		a{
			color: $accent-color;
			&:hover{
				color: $primary-color;
			}
		}
	}
	.cms-post-author{
		color: #616161;
		a{
			color: #616161;
			&:hover{
				color: $accent-color;
			}
		}
	}
	.cms-post-cmt{
		.cmt-count{
			color: $accent-color;
		}
	}
}