.cms-post-content{
}
.post-password-form{
	input[name="post_password"]{
		margin-bottom: 20px;
	}
}

.cms-single-post{
	.cms-post-tags-share{
		border-top: 2px solid $border-color;
		padding-top: 28px;
		.cms-post-share{
			max-width: 126px;
		}
	}
	.cms-single-next-prev-navigation{
		.cms-nav-icon{
			width: 60px;
			height: 60px;
			line-height: 60px;
			display: block;
			text-align: center;
			font-size: 12px;
			color: $primary-color;
			@include transition();
			@include box-shadow(0 0 0 2px $border-color inset);
		}
		.cms-single-nav-inner:hover{
			.cms-nav-icon{
				background: $primary-color;
				color: $white;
				@include box-shadow(0 0 0 2px $primary-color inset);
			}
		}
	}
}	

body.single-post #cms-main{
	padding-bottom: 110px;
}