.wpcf7{
	[dir="rtl"] &{
		direction: rtl!important;
	}
	.cms-submit {
		position: relative;
		.ajax-loader{
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			&.is-active{
				display: block;
			}
		}
	}
	span.wpcf7-list-item{
		margin-left: 28px;
		&.first,
		&:first-child{
			margin-left: 0;
		}
	}
	label{
		font-size: 14px;
		font-weight: 700;
		color: $heading-font-color;
		font-family: $heading-font-family;
		padding-bottom: 7px;
		+ br{
			display: none;
		}
	}
	// Radio List
	.wpcf7-form-control.wpcf7-radio,
	.wpcf7-form-control.wpcf7-radio_custom{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		span.wpcf7-list-item{
			flex: 0 0 auto;
		    width: auto;
		    max-width: 100%;
		    padding: 0 10px;
		    margin: 0;
		    cursor: pointer;
		}
		input[type="radio"]{
			@include opacity(0);
			position: relative;
			z-index: 1;
			cursor: pointer;
			&:checked{
				+ .wpcf7-list-item-label:before{
					background: #222222;
				}
			}
		}
		.wpcf7-list-item-label{
			&:before{
				content: '';
				width: 13px;
				height: 13px;
				display: inline-block;
				border: 2px solid #fff;
				@include box-shadow(0 0 0 2px $border-color);
				margin-left: -23px;
				margin-right: 10px;
			}
		}
	}
	// List
	.wpcf7-list-item {
		label{
			font-weight: 400;
		}
	}
}