.cms-newsletter-layout-1{
	.tnp-email{
		height: 60px;
		border: 0;
		line-height: 60px;
		font-size: 14px;
		color: var(--color-788fc8);
		background: var(--color-283b69);
		@include border-radius(8px 8px 0 8px);
	}
	.tnp-field-button{
		position: absolute;
	    right: 18px;
	    top: 18px;
	    margin: 0;
	    cursor: pointer;
	    input.tnp-submit{
	    	font-size: 0;
		    position: relative;
		    background-color: transparent;
		    width: 24px;
		    height: 24px;
		    z-index: 2;
		    padding: 0;
		    border:0;
	    }
	    &:after{
	    	@include font-cmsi("\f061", 900, 13px);
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background-color: $accent-color;
		    color: $white;
		    line-height: 24px;
		    text-align: center;
		    @include border-radius(50%);
		    @include transition();
	    }
	    &:hover:after{
	    	background-color: $primary-color;
	    }
	    [dir="rtl"] &{
	    	right: auto;
	    	left: 18px;
	    	&:after{
	    		content: '\f060';
	    	}
	    }
	}
	.tnp-privacy-field{
		margin-top: 15px;
		position: relative;
		a{
			color: $white;
			&:hover{
				color: $accent-color;
			}
		}
	}
}
.tnp-field input::-moz-placeholder, 
.tnp-field textarea::-moz-placeholder {
    color: var(--color-788fc8);
}
.tnp-field input::-webkit-input-placeholder, 
.tnp-field textarea::-webkit-input-placeholder {
    color: var(--color-788fc8);
}
.tnp-field input::-o-placeholder, 
.tnp-field textarea::-o-placeholder {
    color: var(--color-788fc8);
}
.tnp-field input::-ms-placeholder, 
.tnp-field textarea::-ms-placeholder {
	color: var(--color-788fc8);
}