label[for="coupon_code"]{
	display: none;
}
table.cart {
	border: 0;
	th,
	.product-name{
		font-size: 17px;
		font-family: var(--heading-font-family);
	}
	td, th{
		text-align: center;
		&.product-subtotal{
			border-right: 1px solid #ddd;
		}
	}
	td{
		&.product-name > div{
			> a{
				font-weight: 700;
				margin: 0 10px;
				&.remove{
					width: 20px;
					height: 20px;
					line-height: 20px;
					color: $white;
					background-color: black;
					text-align: center;
					@include border-radius(50%);
					&:hover{
						background-color: red;
					}
				}
			}
		}
		&.actions{
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			text-align: start!important;
		}
	}
	.size-woocommerce_thumbnail{
		max-width: 70px;
		width: 70px;
	}
	input[name="coupon_code"][type="text"]{
		height: 51px;
		line-height: 51px;
		width: 250px;
	}
}
.cart-collaterals{
	padding-top: 30px;
}

.cart_totals {
	> h2{
		font-size: 21px;
		margin: 0 0 25px;
	}
}