.col2-set{
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
	.col-1,
	.col-2{
		flex: 0 0 100%;
		max-width: 100%;
		padding: 15px;
		@media(min-width: 769px){
			flex: 0 0 50%;
			max-width: 50%;
		}		
	}
}
.price,
.woocommerce-Price-amount{
	font-size: 16px;
	color: var(--color-secondary);
	font-weight: 700;
	del{
		text-decoration: line-through!important;
		@include opacity(0.5);
	}
}
del{
	color: $secondary-color;
	text-decoration: line-through!important;
	@include opacity(0.5);
}