ul.products{
	list-style: none;
	margin: $grid-gutters/-2;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	> li.product{
		float: none;
		margin: $grid-gutters/2;
		position: relative;
		.price{
		    margin: 10px 0 0 0;
		    color: $secondary-color;
		    line-height: 1;
		    font-size: 20px;
		    font-weight: 700;
		    display: block;
		    clear: both;
		    ins{
		    	font-weight: inherit;
		    	padding-left: 15px;
		    	text-decoration: none;
		    	[dir="rtl"] &{
		    		padding-left: 0;
		    		padding-right: 15px;
		    	}
		    }
		}
	}
	&.colomns-1{
		> li.product{
			max-width: calc(100% - #{$grid-gutters});
			width: calc(100% - #{$grid-gutters});
			flex: 0 0 calc(100% - #{$grid-gutters});
		}
	}
	&.columns-2{
		> li.product{
			max-width: calc(50% - #{$grid-gutters});
			width: calc(50% - #{$grid-gutters});
			flex: 0 0 calc(50% - #{$grid-gutters});
		}
	}
	&.columns-3{
		> li.product{
			max-width: calc(33.3333% - #{$grid-gutters});
			width: calc(33.3333% - #{$grid-gutters});
			flex: 0 0 calc(33.3333% - #{$grid-gutters});
		}
	}
	&.columns-4{
		> li.product{
			max-width: calc(25% - #{$grid-gutters});
			width: calc(25% - #{$grid-gutters});
			flex: 0 0 calc(25% - #{$grid-gutters});
		}
	}
	&.columns-5{
		> li.product{
			max-width: calc(20% - #{$grid-gutters});
			width: calc(20% - #{$grid-gutters});
			flex: 0 0 calc(20% - #{$grid-gutters});
		}
	}
	&.columns-6{
		> li.product{
			max-width: calc(16.6666% - #{$grid-gutters});
			width: calc(16.6666% - #{$grid-gutters});
			flex: 0 0 calc(16.6666% - #{$grid-gutters});
		}
	}
	@media (max-width: $screen-lg-max){
		&.columns-5{
			> li.product{
				max-width: calc(33.3333% - #{$grid-gutters});
				width: calc(33.3333% - #{$grid-gutters});
				flex: 0 0 calc(33.3333% - #{$grid-gutters});
				margin: 15px;
			}
		}
		&.columns-6{
			> li.product{
				max-width: calc(33.3333% - #{$grid-gutters});
				width: calc(33.3333% - #{$grid-gutters});
				flex: 0 0 calc(33.3333% - #{$grid-gutters});
				margin: 15px;
			}
		}
	}
	@media (max-width: $screen-md-max){
		&.columns-3{
			> li.product{
				max-width: calc(50% - #{$grid-gutters});
				width: calc(50% - #{$grid-gutters});
				flex: 0 0 calc(50% - #{$grid-gutters});
				margin: 15px;
			}
		}
		&.columns-4{
			> li.product{
				max-width: calc(50% - #{$grid-gutters});
				width: calc(50% - #{$grid-gutters});
				flex: 0 0 calc(50% - #{$grid-gutters});
				margin: 15px;
			}
		}
		&.columns-5{
			> li.product{
				max-width: calc(50% - #{$grid-gutters});
				width: calc(50% - #{$grid-gutters});
				flex: 0 0 calc(50% - #{$grid-gutters});
				margin: 15px;
			}
		}
		&.columns-6{
			> li.product{
				max-width: calc(50% - #{$grid-gutters});
				width: calc(50% - #{$grid-gutters});
				flex: 0 0 calc(50% - #{$grid-gutters});
				margin: 15px;
			}
		}
	}
	@media (max-width: $screen-sm-max){
		&.columns-2,
		&.columns-3,
		&.columns-4,
		&.columns-5,
		&.columns-6{
			> li.product{
				max-width: calc(100% - #{$grid-gutters});
				width: calc(100% - #{$grid-gutters});
				flex: 0 0 calc(100% - #{$grid-gutters});
				margin: 15px;
			}
		}
	}
	.cms-products-content{
		padding-top: 26px;
	}
}

.woocommerce-loop-product__link{
	display: block;
}
.cms-onsale{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	background-color: #ff0000;
	color: $white;
	min-width: 56px;
	height: 29px;
	line-height: 19px;
	padding: 5px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	@include transition();
	&.single{
		left: 20px;
		right: auto;
	}
	[dir="rtl"] &{
		right: auto;
		left: 20px;
		&.single{
			left: auto;
			right: 20px;
		}
	}
}
.add_to_cart_button{
	min-width: 210px;
}
.add_to_cart_button,
.product_type_grouped,
.product_type_external {
	.cms-addtocart-icon:before{
		@include font-cmsi("\f120");
		font-size: 18px;
		text-transform: none;
	}
	&.loading{
		.cms-addtocart-icon{
			display: inline-block;
			@include animation(fa-spin 2s linear infinite);
			&:before{
				content: "\f069";
			}
		}
	}
	&.added{
		.cms-addtocart-icon:before{
			content: "\f120";
		}
	}
	+ .added_to_cart{
		display: none;
	}
}
.woocommerce-pagination{
	margin-top: 40px;
}

.cms-products-thumb img{
	width: 100%;
}