ul.products{
	list-style: none;
	margin: -20px -15px;
	padding: 15px 0 0;
	display: flex;
	flex-wrap: wrap;
	> li.product{
		float: none;
		margin: 20px 15px;
		position: relative;
		.price{
		    margin: 10px 0 0 0;
		    color: $accent-color;
		    line-height: 1;
		    font-size: 19px;
		    font-weight: 700;
		    display: block;
		    clear: both;
		    ins{
		    	font-weight: inherit;
		    	padding-left: 15px;
		    	text-decoration: none;
		    	[dir="rtl"] &{
		    		padding-left: 0;
		    		padding-right: 15px;
		    	}
		    }
		}
	}
	&.colomns-1{
		> li.product{
			max-width: calc(100% - 30px);
			width: calc(100% - 30px);
			flex: 0 0 calc(100% - 30px);
		}
	}
	&.columns-2{
		> li.product{
			max-width: calc(50% - 30px);
			width: calc(50% - 30px);
			flex: 0 0 calc(50% - 30px);
		}
	}
	&.columns-3{
		> li.product{
			max-width: calc(33.3333% - 30px);
			width: calc(33.3333% - 30px);
			flex: 0 0 calc(33.3333% - 30px);
		}
	}
	&.columns-4{
		> li.product{
			max-width: calc(25% - 30px);
			width: calc(25% - 30px);
			flex: 0 0 calc(25% - 30px);
		}
	}
	&.columns-5{
		> li.product{
			max-width: calc(20% - 30px);
			width: calc(20% - 30px);
			flex: 0 0 calc(20% - 30px);
		}
	}
	&.columns-6{
		> li.product{
			max-width: calc(16.6666% - 30px);
			width: calc(16.6666% - 30px);
			flex: 0 0 calc(16.6666% - 30px);
		}
	}
	@media (max-width: $screen-lg-max){
		&.columns-5{
			> li.product{
				max-width: calc(33.3333% - 30px);
				width: calc(33.3333% - 30px);
				flex: 0 0 calc(33.3333% - 30px);
				margin: 15px;
			}
		}
		&.columns-6{
			> li.product{
				max-width: calc(33.3333% - 30px);
				width: calc(33.3333% - 30px);
				flex: 0 0 calc(33.3333% - 30px);
				margin: 15px;
			}
		}
	}
	@media (max-width: $screen-md-max){
		&.columns-3{
			> li.product{
				max-width: calc(50% - 30px);
				width: calc(50% - 30px);
				flex: 0 0 calc(50% - 30px);
				margin: 15px;
			}
		}
		&.columns-4{
			> li.product{
				max-width: calc(50% - 30px);
				width: calc(50% - 30px);
				flex: 0 0 calc(50% - 30px);
				margin: 15px;
			}
		}
		&.columns-5{
			> li.product{
				max-width: calc(50% - 30px);
				width: calc(50% - 30px);
				flex: 0 0 calc(50% - 30px);
				margin: 15px;
			}
		}
		&.columns-6{
			> li.product{
				max-width: calc(50% - 30px);
				width: calc(50% - 30px);
				flex: 0 0 calc(50% - 30px);
				margin: 15px;
			}
		}
	}
	@media (max-width: $screen-sm-max){
		&.columns-2,
		&.columns-3,
		&.columns-4,
		&.columns-5,
		&.columns-6{
			> li.product{
				max-width: calc(100% - 30px);
				width: calc(100% - 30px);
				flex: 0 0 calc(100% - 30px);
				margin: 15px;
			}
		}
	}
	.cms-overlay-wrap{
		background-color: $white;
		border-radius: 8px;
		box-shadow: 0px 5px 83px 0px rgba(40, 40, 40, 0.11);
		@include transition();
		&:hover{
			background-color: $accent-color;
			color: $white;
			.cms-heading,
			.price{
				color: $white;
			}
			.cms-products-thumb:after{
				visibility: visible;
				opacity: 0.9;
			}
			.cms-onsale{
				background-color: $white;
				color: $accent-color;
				right: 40px;
			}
		}
	}
	.cms-products-content{
		padding: 30px 15px 35px;
	}
}
.cms-products-thumb{
	overflow: hidden;
	border-bottom: 2px solid $border-color;
	&:after{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include border-radius(8px 8px 0 0);
		@include transition();
		opacity: 0;
		visibility: hidden;
		background-color: $accent-color;
	}
}
.woocommerce-loop-product__link{
	display: block;
}
.cms-onsale{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	background-color: $accent-color;
	color: $white;
	@include border-radius(4px 4px 0 4px);
	min-width: 56px;
	height: 29px;
	line-height: 19px;
	padding: 5px;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	@include transition();
	&.single{
		left: 20px;
		right: auto;
	}
	[dir="rtl"] &{
		right: auto;
		left: 20px;
		&.single{
			left: auto;
			right: 20px;
		}
	}
}
.add_to_cart_button{
	min-width: 170px;
}
.add_to_cart_button,
.product_type_grouped,
.product_type_external {
	.cms-addtocart-icon:before{
		@include font-cmsi("\64");
		font-size: 18px;
		text-transform: none;
	}
	&.loading{
		.cms-addtocart-icon{
			display: inline-block;
			@include animation(fa-spin 2s linear infinite);
			&:before{
				content: "\f110";
			}
		}
	}
	&.added{
		.cms-addtocart-icon:before{
			content: "\64";
		}
	}
	+ .added_to_cart{
		display: none;
	}
}
.woocommerce-pagination{
	margin-top: 40px;
}

.cms-products-thumb img{
	width: 100%;
}