.woocommerce-notices-wrapper{
	margin-bottom: 30px;
	&:empty{
		display: none;
	}
}

.woocommerce-message{
	.restore-item{
		margin-left: 20px;
		[dir="rtl"] &{
			margin-right: 20px;
			margin-left: 0;
		}
	}
}