div.product {
	div.summary{
		float: none;
		width: 100%;
	}
	// add-to-cart form
	form.cart{
		//border-top: 1px solid var(--border-main-color);
		//border-bottom: 1px solid var(--border-main-color);
		//padding: 25px 0 0;
		margin: 32px 0 0;
		display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	    justify-content: space-between;
	    &:before,
	    &:after{
	    	flex: 0 0 100%;
	    	width: 100%;
	    	margin: 0;
	    }
	    div.quantity{
	    	float: none;
	    	margin: 0 15px 0 0;
	    }
	    > *{
	    	margin-bottom: 25px!important;
	    }
	}
	.cms-single-product-btn{
		flex-wrap: wrap;
		margin: -7.5px;
		> *{
			margin: 7.5px;
			flex: 0 0 auto;
		    width: auto;
		    max-width: 100%;
		}
		.single_add_to_cart_button{
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.45px;
			&:after{
				margin-left: 15px;
				@include font-cmsi('\f290');
			}
		}
	}
}

//product meta
.cms-product-meta .cms-meta-item{
	padding-bottom: 8px;
	&:last-child{
		padding-bottom: 0;
	}
	.cms-meta-label{
		color: var(--primary-color);
		text-transform: uppercase;
		letter-spacing: 0.45px;
		font-weight: 600;
	}
	a{
		color: var(--color-body);
		&:hover{
			color: var(--color-accent);
		}
	}
}
// cart variations and grouped
.variations {
	border: 0;
	td,
	th {
		border: 0;
		vertical-align: middle;
	}
}
.woocommerce-variation-description p {
	margin-bottom: 1em;
}
.reset_variations {
	visibility: hidden;
	display: none;
	color: red;
	padding-top: 10px;
	text-align: end;
	&[style="visibility: visible; display: inline;"]{
		display: block!important;
	}
}
.wc-no-matching-variations {
	display: none;
}
.single_variation_wrap{
	margin: 0;
	width: 100%;
	display: block;
	.woocommerce-variation-add-to-cart{
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		align-items:center;
		.quantity{
			flex-basic: basic;
		}
		.cms-single-product-btns{
			flex: 0 0 auto;
			width: auto;
		}
	}
	.woocommerce-variation-price{
		margin-bottom: 25px;
	}
}
// Grouped 
.group_table {
	border: 0;
	th, td{
		border: 0;
	}
	.wc-grouped-product-add-to-cart-checkbox {
		display: inline-block;
		width: auto;
		margin: 0 auto;
		transform: scale(1.5, 1.5);
	}
}

// Quantity
.cms-quantity{
	position: relative;
	display: inline-block;
	.quantity-button{
		position: absolute;
		right: 0;
		width: 20px;
		height: 27px;
		line-height: 23px;
		text-align: start;
		font-size: 10px;
		font-weight: 900;
		border: 2px solid #e6e8eb;
		color: var(--primary-color);
		cursor: pointer;
		text-align: center;
	}
	.quantity-up{
		top: 0;
		&:before,
		&:after{
			content: '';
			width: 8px;
			height: 2px;
			display: block;
			background-color: $primary-color;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -1px 0 0 -4px;
		}
		&:after{
			@include transform(rotate(90deg));
		}
	}
	.quantity-down{
		bottom: 0;
		z-index: 1;
		&:before{
			content: '';
			width: 8px;
			height: 2px;
			display: block;
			background-color: $primary-color;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -1px 0 0 -4px;
		}
	}
}
input.qty[type="number"]{
	width: 76px!important;
	height: 51px!important;
	line-height: 51px!important;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 20px;
	padding-left: inherit;
	text-align: center;
	font-size: 20px;
	color: $primary-color;
	@include box-shadow(0 0 0 2px #e6e8eb inset);
	-moz-appearance: textfield;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
}
// add to cart button
.single_add_to_cart_button{
	clear: both;
	min-width: 170px;
	text-align: center;
	height: 51px;
	border-color: transparent;
}
// shop attributes
table.shop_attributes{
	border: none;
	td, th{
		vertical-align: top;
		font-style: normal;
		padding: 6px 0;
		border: 0;
		width: unset;
		background: transparent!important;
		p{
			padding: 0;
		}
	}
}
// Meta 
.product_meta{
	margin-top: 17px;
	> span{
		display: block;
		clear: both;
		padding-bottom: 12px;
		&:last-child{
			padding-bottom: 0;
		}
	}
	.meta-title{
		font-size: 16px;
		font-weight: 700;
		color: var(--heading-font-color);
		min-width: 120px;
		display: inline-block;
	}
	a{
		color: $body-color;
		&:hover{
			color: $accent-color;
		}
	}
}
// related, upsell
.products.related,
.products.upsells,
.cross-sells{
	padding-top: 20px;
	> h2{
		position: relative;
		margin: 47px 0 30px;
		font-size: 21px;
	}
}

.woocommerce-grouped-product-list-item{
	.woocommerce-grouped-product-list-item__label{
		font-size: 16px;
		font-weight: 700;
	}
	.woocommerce-Price-amount{
		font-size: 22px;
		font-weight: 700;
		color: $accent-color;
	}
}