// tabs
.woocommerce-tabs{
	@media (min-width: $screen-xl-min){
		width: 83.333%;
		margin-left: auto;
		margin-right: auto;
	}
}
.wc-tabs{
	list-style: none;
	margin: 57px -15px 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		left: 15px;
		right: 15px;
		bottom: 0;
		height: 4px;
		background: var(--border-color);
	}
	li{
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
		color: var(--primary-color);
		font-size: 16px;
		padding:0 15px;
		position: relative;
		z-index: 1;
		a{
			display: block;
			padding: 13px 0;
			font-weight: 700;
			border-bottom: 4px solid var(--border-color);
		}
		&:hover,
		&.active{
			a{
				color: $accent-color;
				border-color: $accent-color;
			}
		}
	}
}
.wc-tab{
	padding-top: 40px;
}