/**
 * woocommerce-layout.scss
 * Applies layout to the default WooCommerce frontend design
 */

/**
 * Forms
 */
form {
	.form-row {
		label {
			flex: 0 0 100%;
			display: block;
			color: $heading-font-color;
			&.checkbox {
				flex: 0 0 auto;
				display: inline;
			}
		}
	}
	.password-input{
		position: relative;
	}
	.show-password-input {
		position: absolute;
		right: 0.7em;
		top: 0.7em;
		cursor: pointer;
	}
	.show-password-input::after {
		@include font-cmsi( "\f06e" );
	}
	.show-password-input.display-password::after {
		@include font-cmsi( "\f070" );
	}
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields {}

.woocommerce-terms-and-conditions {}

/**
 * oEmbeds
 */
.woocommerce-oembed {
	position: relative;
}