/**
 * woocommerce.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically.
 */


/**
 * Global styles
 */
p.demo_store,
.woocommerce-store-notice {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: 1em 0;
	text-align: center;
	background-color: $primary;
	color: $primarytext;
	z-index: 99998;
	box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2);
	display: none;

	a {
		color: $primarytext;
		text-decoration: underline;
	}
}
/**
 * Main WooCommerce styles
 */
.loader {
	@include loader();
}
.woocommerce {
	.blockUI.blockOverlay {
		position: relative;
		@include loader();
	}
	

	a.remove {}

	small.note {
	}

	.woocommerce-breadcrumb {}

	/**
	 * Product Page
	 */
	div.product {	
		.out-of-stock {
			color: red;
		}

		div.images {
			position: relative;

			.woocommerce-product-gallery__wrapper {
				transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s;
				margin: 0;
				padding: 0;
			}

			.woocommerce-product-gallery__wrapper .zoomImg {
				background-color: #fff;
				opacity: 0;
			}

			.woocommerce-product-gallery__image--placeholder {
				border: 1px solid #f2f2f2;
			}

			.woocommerce-product-gallery__image:nth-child(n+2) {
				width: 25%;
				display: inline-block;
			}

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 0.5em;
				right: 0.5em;
				font-size: 2em;
				z-index: 9;
				width: 36px;
				height: 36px;
				background: #fff;
				text-indent: -9999px;
				border-radius: 100%;
				box-sizing: content-box;

				&::before {
					content: "";
					display: block;
					width: 10px;
					height: 10px;
					border: 2px solid #000;
					border-radius: 100%;
					position: absolute;
					top: 9px;
					left: 9px;
					box-sizing: content-box;
				}

				&::after {
					content: "";
					display: block;
					width: 2px;
					height: 8px;
					background: #000;
					border-radius: 6px;
					position: absolute;
					top: 19px;
					left: 22px;
					transform: rotate(-45deg);
					box-sizing: content-box;
				}
			}

			.flex-control-thumbs {
				overflow: hidden;
				zoom: 1;
				margin: 0;
				padding: 0;

				li {
					width: 25%;
					float: left;
					margin: 0;
					list-style: none;

					img {
						cursor: pointer;
						opacity: 0.5;
						margin: 0;

						&.flex-active,
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}

		.woocommerce-product-gallery--columns-3 {

			.flex-control-thumbs li:nth-child(3n+1) {
				clear: left;
			}
		}

		.woocommerce-product-gallery--columns-4 {

			.flex-control-thumbs li:nth-child(4n+1) {
				clear: left;
			}
		}

		.woocommerce-product-gallery--columns-5 {

			.flex-control-thumbs li:nth-child(5n+1) {
				clear: left;
			}
		}
		
	}	

	/**
	 * Tables
	 */
	td.product-name {

		dl.variation,
		.wc-item-meta {
			list-style: none outside;
			font-size: 80%;
			dt,
			.wc-item-meta-label {
				float: left;
				clear: both;
				margin-right: 0.25em;
				display: inline-block;
				list-style: none outside;
			}

			dd {
				margin: 0;
				display: inline-block;
			}

			p,
			&:last-child {
				margin-bottom: 0;
			}
		}

		p.backorder_notification {
			font-size: 0.83em;
		}
	}
	/**
	 * Forms
	 */
	form .form-row {
		.select2-container {
			width: 100%;
			line-height: 2em;
		}
		&.woocommerce-invalid {
			label {
				color: $red;
			}
			.select2-container,
			input.input-text,
			select {
				border-color: $red;
			}
		}

		&.woocommerce-validated {
			.select2-container,
			input.input-text,
			select {
				border-color: darken($green, 5%);
			}
		}
	}

	form.login,
	form.checkout_coupon,
	form.register {
		border: 1px solid var(--border-main-color);
		background: var(--border-main-color);
		padding: 20px;
		margin: 30px 0;
	}

	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;

		li {
			margin: 0 0 0.5em;
			line-height: 1.5em;
			list-style: none outside;

			input {
				margin: 3px 0.4375em 0 0;
				vertical-align: top;
			}

			label {
				display: inline;
			}
		}

		.amount {
			font-weight: 700;
		}
	}

	p.woocommerce-shipping-contents {
		margin: 0;
	}

	/**
	 * Order page
	 */
	ul.order_details {

		@include clearfix();
		margin: 0 0 3em;
		list-style: none;

		li {
			float: left;
			margin-right: 2em;
			text-transform: uppercase;
			font-size: 0.715em;
			line-height: 1;
			border-right: 1px dashed darken($secondary, 10%);
			padding-right: 2em;
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;

			strong {
				display: block;
				font-size: 1.4em;
				text-transform: none;
				line-height: 1.5;
			}

			&:last-of-type {
				border: none;
			}
		}
	}

	.wc-bacs-bank-details-account-name {
		font-weight: bold;
	}

	.woocommerce-order-downloads,
	.woocommerce-customer-details,
	.woocommerce-order-details {
		margin-bottom: 2em;

		*:last-child {
			margin-bottom: 0;
		}
	}

	.woocommerce-customer-details {

		address {
			font-style: normal;
			margin-bottom: 0;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom-width: 2px;
			border-right-width: 2px;
			text-align: left;
			width: 100%;
			border-radius: 5px;
			padding: 6px 12px;
		}

		.woocommerce-customer-details--phone,
		.woocommerce-customer-details--email {
			margin-bottom: 0;
			padding-left: 1.5em;
		}

		.woocommerce-customer-details--phone::before {

			@include font-cmsi( "\e037" );
			margin-left: -1.5em;
			line-height: 1.75;
			position: absolute;
		}

		.woocommerce-customer-details--email::before {

			@include font-cmsi( "\e02d" );
			margin-left: -1.5em;
			line-height: 1.75;
			position: absolute;
		}
	}

	/**
	 * Layered nav widget
	 */
	.woocommerce-widget-layered-nav-list {
		.woocommerce-widget-layered-nav-list__item {
		}
		.woocommerce-widget-layered-nav-list__item--chosen a::before {
			//@include font-cmsi( "\f057" );
			//color: $red;
		}
	}

	.woocommerce-widget-layered-nav-dropdown__submit {
		margin-top: 1em;
	}

	.widget_layered_nav_filters ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;
		overflow: hidden;
		zoom: 1;

		li {
			float: left;
			padding: 0 1em 1px 1px;
			list-style: none;

			a {
				text-decoration: none;
				&::before {

					@include font-cmsi( "\f057" );
					color: $red;
					vertical-align: inherit;
					margin-right: 0.5em;
				}
			}
		}
	}

	/**
	 * Price filter widget
	 */
	.widget_price_filter {
		.price_slider {
			margin-bottom: 1em;
		}
		.price_slider_amount {
			.price_label{
				display: inline-block;
				font-size: 14px;
			}
			button{
				background: none;
				color: $primary-color;
				font-weight: 700;
				padding: 0;
				margin: 0;
				float: right;
				border: none;
				font-size: 14px;
				line-height: normal;
			}
		}

		.ui-slider {
			position: relative;
			text-align: start;
		}
		.ui-slider .ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 10px;
			height: 10px;
			background-color:$accent-color;
			border-radius: 50%;
			cursor: ew-resize;
			outline: none;
			top: -3px;
			+ .ui-slider-handle{
				margin-left: -10px;
			}
		}
		.ui-slider .ui-slider-range {
			position: absolute;
			z-index: 1;
			border-radius: 5px;
			background-color: $accent-color;
		}

		.price_slider_wrapper .ui-widget-content{
			&:before {
				content: '';
				position: absolute;
				top: 1px;
				left: 0;
				right: 0;
				height: 2px;
				background-color: #e5e8ed;
			}
		}

		.ui-slider-horizontal {
			height: 4px;
		}

		.ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}

		.ui-slider-horizontal .ui-slider-range-min {
			left: 0px;
		}

		.ui-slider-horizontal .ui-slider-range-max {
			right: 0px;
		}
	}

	/**
	 * Rating Filter Widget
	 */
	.widget_rating_filter ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;

		li {

			@include clearfix();
			padding: 0 0 1px;
			list-style: none;

			a {
				padding: 1px 0;
				text-decoration: none;
			}
		}

		li.chosen a::before {

			@include font-cmsi( "\e013" );
			color: $red;
		}
	}

	.woocommerce-form-login {

		.woocommerce-form-login__submit {
			float: left;
			margin-right: 1em;
		}

		.woocommerce-form-login__rememberme {
			display: inline-block;
		}
	}
}

.woocommerce-no-js {
	form.woocommerce-form-login,
	form.woocommerce-form-coupon {
		display: block !important;
	}
	.woocommerce-form-login-toggle,
	.woocommerce-form-coupon-toggle,
	.showcoupon {
		display: none !important;
	}
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	padding: 25px;
	margin: 0 0 40px;
	position: relative;
	background-color: #e4f2e2;
	border-top: 0px solid var(--color-accent);
	list-style: none outside;
	width: 100%;
	word-wrap: break-word;
	font-size: 19px;
	font-weight: 600;
	color: $primary-color;
	@include border-radius(8px 8px 0 8px);
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	//justify-content: space-between;
	&::before {
		@include font-cmsi('\f05a');
		width: 20px;
		max-width: 20px;
		flex: 0 0 auto;
	}
	.cms-added-to-cart-msg{
		flex-basis: 0;
	    flex-grow: 1;
	    max-width: 100%;
	    @media (max-width: $screen-md-max){
	    	flex: 0 0 100%;
	    	width: 100%;
	    	margin-bottom:25px;
	    }
	}
	.btn {
	    min-width: 180px;
	    text-align: center;
	    flex: 0 0 auto;
	    max-width: 100%;
	}

	li {
		list-style: none outside !important; // Required for default theme compatibility
		padding-left: 0 !important; // Required for default theme compatibility
		margin-left: 0 !important; // Required for default theme compatibility
		flex: 0 0 100%;
		width: 100%;
		font-weight: 400;
	}
}
/**
 * Cart sidebar
 */
ul.cart_list,
ul.product_list_widget {
	list-style: none outside;
	padding: 0;
	margin: $product_widget_space/-2 0;
	li {
		padding: $product_widget_space/2 0;
		position: relative;
		display: block;
		clear: both;
		overflow: hidden;
		font-weight: 600;
		a {
			display: block;
			font-size: 16px;
		}

		.quantity,
		.amount{
			font-size: 15px;
			color: $accent-color;
		}

		img {
			float: left;
			margin-right: $product_widget_img_space;
			width: $product_widget_thumbnail_size_w;
			height: $product_widget_thumbnail_size_h;
			@include border-radius(8px 8px 0 8px);
		}

		dl {
			margin: 0;
			padding-left: 1em;
			border-left: 2px solid rgba(0, 0, 0, 0.1);

			@include clearfix();

			dt,
			dd {
				display: inline-block;
				float: left;
				margin-bottom: 1em;
			}

			dt {
				font-weight: 700;
				padding: 0 0 0.25em;
				margin: 0 4px 0 0;
				clear: left;
			}

			dd {
				padding: 0 0 0.25em;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
// Messages
.woocommerce-message {
	border-top-color: #8fae1b;
	&::before {
		@include font-cmsi('\f4a3');
		color: #8fae1b;
	}
}
.woocommerce-info {
	border-top-color: #1e85be;
	&::before {
		color: #1e85be;
	}
}
.woocommerce-error {
	border-top-color: #b81c23;
	&::before {
		@include font-cmsi("\f057");
		color: #b81c23;
	}
}
/**
 * Account page
 */
.woocommerce-account {
	.addresses .title {
		h3 {
			display: inline-block;
			margin: 0;
			padding-right: 20px;
			[dir="rtl"] &{
				padding-right: 0;
				padding-left: 20px;
			}
		}
	}
	ul.digital-downloads {
		li {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			&::before {

				@include font-cmsi( "\e00a" );
			}

			.count {
				float: right;
			}
		}
	}
}

/**
 * Cart/checkout page
 */
.checkout {

	.col-2 {

		h3#ship-to-different-address {
			float: left;
			clear: none;
		}

		.notes {
			clear: left;
		}

		.form-row-first {
			clear: left;
		}
	}

	.create-account small {
		font-size: 11px;
		color: $subtext;
		font-weight: normal;
	}

	div.shipping-address {
		padding: 0;
		clear: left;
		width: 100%;
	}

	.shipping_address {
		clear: both;
	}
}