.cms-counter-number{
	white-space: nowrap;
	overflow: hidden;
}
.cms-counter-icon.default-thumb{
	//max-width: 64px;
}
// layout 1
.cms-counter-layout1{
	.cms-counter-icon{
		@include opacity(0.1);
	}
	.cms-counter-number-wrap{
		top: 20px;
		left: 30px;
		[dir="rtl"] &{
			left: auto;
			right: 30px;
		}
	}
}