// All style
.cms-cf7-layout-1{
    .cms-cf7-rating{
        top: -29px;
        right: 30px;
        [dir="rtl"] &{
            right: auto;
            left: 30px;
        }
        @media (max-width: $screen-md-max){
            visibility: hidden;
            right: -15px;
            [dir="rtl"] &{
                right: auto;
                left: -15px;
            }
        }
    }
    .cms-cf7-star{
        min-height: 29px;
        vertical-align: middle;
        text-align: center;
        img{
            vertical-align: middle;
        }
    }
    .row {
        [class^="col-"]:not(:last-child){
            padding-bottom: 25px;
        }
    }
    input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]),
    select, 
    textarea{
        background-color: #efefef;
        @include box-shadow(0 0 0 2px #efefef);
        &:hover{
            @include box-shadow(0 0 0 2px #efefef);
        }
    }
}
.cms-cf7-separator{
    //border-top: 2px solid $border-color;
    margin-top: 42px;
    padding-top: 42px;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: $grid-gutters/2;
        right: $grid-gutters/2;
        height: 2px;
        background-color: $border-color;
    }
}