.elementor-image{
	figcaption.widget-image-caption{
		background: #ffebec;
		color: $primary_color;
		font-weight: 700;
		font-style: normal;
		font-family: inherit;
		padding: 13px 25px;
		text-align: start;
	}
}

.elementor-widget-image-carousel .swiper-slide{
	text-align: start!important;
}