// Layout 1
.cms-heading-layout-1{
	.cms-heading-singnature{
		.cms-divider{
			width: 2px;
			height: 38px;
			background-color: $border-color;
		}
	}
}
// layout 5
.cms-heading-layout-5{
	.cms-signature{
		bottom: 20px;
	}
	@media (min-width: $screen-lg-min){
		.cms-heading-desc {
			&:before{
				content: '';
				position: absolute;
				left: -42px;
				width: 4px;
				top: 57px;
				bottom: 7px;
				background: $border-color;
				[dir="rtl"] &{
					left: auto;
					right: -42px;
				}
			}
		}
	}
}