.elementor-widget-cms_howitwork{
	.cms-howitwork-wrap{
		padding-top: 23px;
	    padding-bottom: 26px;
	    padding-left: 8px;
	}
	.cms-howitwork-item{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 0;
			background: $accent-color;
			@include transition();
		}
		&:not(:last-child){
			&:after{
				//content: '';
				//background: white;
				//position: absolute;
				//right: 0;
				//bottom: 2px;
				//width: 2px;
				//top: 2px;
				//[dir="rtl"] &{
				//	right: auto;
				//	left: 0;
				//}
			}
		}
		.box-icon{
			width: 46px;
			height: 46px;
			line-height: 46px;
			position: absolute;
			top: 0;
			left: 50%;
			@include transform(translate(-50%, -50%));
			@include box-shadow( 0 0 0 2px $border-color inset);
			@include border-radius(50%);
			@include transition();
			&.cms-icon{
				visibility: hidden;
				opacity: 0;
				@include box-shadow(none);
				&:after{
					content: '';
					display: block;
					width: 274px;
					height: 2px;
					position: absolute;
					left: 100%;
					top: 23px;
					visibility: hidden;
					@include background-gradient('right, #FFFFFF 0%, #282828 100%');
				}
			}
		}
		.btn{
			position: absolute;
			left: 50%;
			bottom: 0;
			@include transform(translate(-50%, 50%));
		}
		@media (min-width: $desktop-screen){
			.btn{
				visibility: hidden;
				opacity: 0;
				left: -100%;
			}
			// Hover 
			&:hover{
				z-index: 1;
				&:before{
					width: 100%;
				}
				.box-icon{
					&.cms-icon{
						visibility: visible;
						opacity: 1;
					}
				}
				.btn{
					visibility: visible;
					opacity: 1;
					left: 50%;
				}
			}
		}
		@media (max-width: #{$desktop-screen - 1}){
			margin-bottom: 80px;
		}
	}
}
.cms-howitwork-layout-1{
	.cms-howitwork-item{
		margin-left: -2px;
		@include box-shadow( 0 0 0 2px $border-color inset);
		// Hover 
		&:hover{
			.box-icon{
				&.cms-icon{
					&:after{
						visibility: visible;
					}
				}
			}
		}
		&:last-child{
			.box-icon.cms-icon:after{
				width: 140px;
			}
		}
	}
}
.cms-howitwork-layout-2{
	.cms-howitwork-item{
		&:before{
			left: $grid-gutters /2;
		}
		&:hover{
			&:before{
				width: calc(100% - #{$grid-gutters});
			}
		}
	}
}