// animate icon
.elementor-widget-cms_fancy_box{
	&:hover{
		.cms-fancy-icon{
			@include transform(translateY(-10px));
		}
	}
}
// all
.cms-fancybox{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

// Layout 2
.cms-fancybox-layout-2{
	height: 100%;
	.cms-btn-wraps{
		padding-top: 30px;
	}
	@media (min-width : $screen-lg-min){
		padding-bottom: 106px;
		.cms-fancy-icon-bg{
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			@include transform(translate(0, -50%));
		}
		.cms-btn-wraps {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			padding: 17px 0 40px;
			opacity: 0;
		}
		.cms-fancybox-content{
			z-index: 1;
			padding-top: 35px;
			padding-bottom: 30px;
		}
		&:not(:hover){
			.cms-fancy-icon-bg{
				.cms-icon{
					font-size: 150px;
					color: #efefef;
				}
			}
		}
		&:hover{
			.cms-fancy-icon-bg{
				top: 40px;
				@include transform(translate(0, 0));
			}
			.cms-btn-wraps{
				top: 100%;
				opacity: 1;
			}
			.cms-fancybox-content{
				@include transform(translateY(55px));
			}
		}
	}
}
// Layout 3
.cms-fancybox-layout-3{
	@media (min-width: $screen-md-min){
		.cms-fancybox-content-wrap{
			position: absolute;
			bottom: 0;
			left: 0;
			max-width: 260px;
		}
	}
}
// Layout 4
.cms-fancybox-layout-4{
	.cms-fancybox-content-wrap{
		@media (min-width: $screen-md-min){
			position: absolute;
			bottom: 0;
			right: 0;
			max-width: 260px;
		}
		@media (min-width: $screen-xl-min){
			bottom: 80px;
			right: -80px;
			&:after{
				content: '';
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    width: 50vw;
			    background: #000;
			    z-index: -1;
			}
			[dir="rtl"] &{
				right: auto;
				left: -80px;
			}
		}
	}
}
// Layout 7
.cms-fancybox-layout-7{
	.cms-fancy-icon-wrap{
		background: #f3f3f3;
		padding: 45px;
		text-align: center;
	}
	.cms-fancybox{
		&:hover{
			.cms-fancy-icon-wrap{
				background: $secondary-color;
			}
		}
	}
}

// layout 9
.cms-fancybox-layout-9{
	.cms-qc-list:not(:last-child){
		padding-bottom: 10px;
	}
}