.cms-locate-pointer-layout-1 {
    .inner-content {
        position: relative;
    }
    .img-bg {
        text-align: center;
    }
    .item-pointer {
        position: absolute;
        cursor: pointer;
        //overflow: hidden;
        .item--inner {
            width: 42px;
            height: 42px;
            position: relative;
        }
        .item--image {
            position: relative;
            bottom: 0;
            left: 0;
            @include transition(all 300ms linear 0ms);
            width: 42px;
            height: 42px;
            @include border-radius(50%);
            img {
                @include border-radius( 50% );
                border: 6px solid rgba(#8a8a8a, 0.5);
                z-index: 1;
            }
            img,
            .locate-point{
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
        .item-holder {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            bottom: 140px;
            left: calc(50% - 50px);
            z-index: 999;
            @include transition(all 300ms linear 0ms);
            [dir="rtl"] &{
                left: auto;
                right: calc(50% - 50px);
            }
            .inner-holder {
                width: 330px;
                max-width: 100%;
                min-height: 140px;
                background-color: #fff;
                color: $heading-color;
                padding: 22px 30px;
                position: relative;
                @include box-shadow(0px 5px 83px 0px rgba(9, 29, 62, 0.15));
                @include border-radius(10px);
                &:after {
                    content: "";
                    bottom: -10px;
                    left: 38px;
                    position: absolute;
                    display: block;
                    border-top: 0px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 12px solid #fff;
                    [dir="rtl"] &{
                        left: auto;
                        right: 38px;
                    }
                }
            }
            @media (max-width: 375px){
                left: 0;
            }
        }
        &.holder-left {
            .item-holder {
                right: calc(50% + 5px);
                left: auto;
                .inner-holder {
                    @include border-radius(10px 10px 0 10px);
                    &:after {
                        border-top: 0px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 12px solid #fff;
                        border-left: 0;
                        left: auto;
                        right: 0;
                        [dir="rtl"] &{
                            left: 0;
                            right: auto;
                        }
                    }
                }
                [dir="rtl"] &{
                    right: auto;
                    left: calc(50% + 5px);
                }
            }
        }
        &:hover {
            overflow: visible;
            .item--image {
                border-color: #9aca94;
            }   
            .item-holder {
                visibility: visible;
                opacity: 1;
                bottom: 70px;
                clip: inherit;
            }
        }
    }
}