.cms-menu{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		position: relative;
	}
}
// Menu separator 
.cms-menu-separator{
	li{
		position: relative;
		&:after{
			content: '';
			width: 4px;
			height: 1px;
			background-color: #9b9b9b;
			display: inline-block;
			position: absolute;
			top: 50%;
			right: -2px;
			[dir="rtl"] &{
				right: auto;
				left: -2px;
			}
		}
		&:last-child:after{
			display: none;
		}
	}
}
// Menu Horizontal
.cms-menu-horz{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	li{
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
		padding: 0 10px;
	}
}
// Menu vertical
.cms-menu-vert{
	li{
		padding-bottom: 8px;
		&:last-child{
			padding-bottom: 0;
		}
	}
}
// Layout 3
.cms-menu-layout-3 .cms-menu{
	> li:not(:last-child){
		&:after{
			content: '';
			width: 5px;
			height: 1px;
			position: absolute;
			right: -2.5px;
			top: 50%;
			[dir="rtl"] &{
				right: auto;
				left: -2.5px;
			}
		}
	}
}
// Layout 4
.cms-menu-layout-4 {
	.cms-menu-wraps{
		&:before{
			content: '';
			height: 6px;
			background: $accent-color;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
	}
	.cms-menu{
		> li{
			padding-top: 1px;
			padding-bottom: 1px;
			> div > a{
				padding: 22px 30px;
				display: block;
			}
		}
	}
	.current-menu-item > div{
		background: $accent-color;
	}
}