.cms-page-title-wrapper{
	position: relative;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #1d2a4d;
		background-image: linear-gradient(180deg, #1D2A4D 34%, #1B1A1A 82%);
		@include opacity(0.4);
	}
	> .container{
		position: relative;
		z-index: 1;
	}
}
.cms-page-title-content{
	&:after{
		content: '';
		height: 2px;
		background-color: $accent-color;
		position: absolute;
		bottom: 0;
		left: 20px;
		right: 20px;
		@media (min-width: $screen-lg-min){
			left: 50px;
			right: 50px;
		}
	}
}

// Layout 1
// layout 2
.cms-page-title-layout-2{
	.cms-icon{
		background: var(--color-e7f9fc);
		color: var(--color-283b6a);
		@include border-radius(6px 0 6px 6px);
		&:before{
			line-height: 94px;
		}
	}
}

// layout 4
.cms-page-title-layout-4{
	.cms-heading{
		font-size: 75px;
		line-height: 85px;
	}
	.cms-breadcrumb-wrap{
		border-bottom: $border-main;
		padding: 5px 0 18px;
	}
}
// layout 4
.cms-page-title-layout-5{
	.cms-page-title-gradient{
		padding-top: 85px;
		padding-bottom: 120px;
	}
	.cms-heading{
		@media (min-width: 1200px){
			font-size: 75px;
			line-height: 85px;
		}
	}
	.cms-breadcrumb-wrap{
		border-bottom: $border-main;
		padding: 5px 0 18px;
	}
}