.cms-page-title-wrapper{
	position: relative;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #1d2a4d;
		background-image: linear-gradient(180deg, #1D2A4D 34%, #1B1A1A 82%);
		@include opacity(0.4);
	}
	> .container{
		position: relative;
		z-index: 1;
	}
}