.cms-post-layout-1{
	.cms-post-grid-date{
		left: -5px;
		bottom: -5px;
		[dir="rtl"] &{
			left: auto;
			right: -5px;
		}
		> span{
			display: block;
		}
	}
	.cms-item-content:hover{
  		box-shadow: 0px 5px 83px 0px rgba(27, 26, 26, 0.12);
  	}
}