.cms-post-pagination{
	margin-top: 35px;
}

.cms-department-features{
	font-size: 15px;
	font-weight: 700;
	.cms-department-feature{
		padding: 7px 0;
		border-bottom: $border-main;
		&:last-child{
			border-bottom: 0;
		}
		&:before{
			@include font-cmsi("\64", 900);
			padding-right: 15px;
			color: var(--color-435ba1);
			font-size: 10px;
		}
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 25px;
			height: 1px;
			background-color: $white;
			[dir="rtl"] &{
				left: auto;
				right: 0;
			}
		}
	}
}