.cms-quick-contact-layout-2{
	.cms-qc-scroll-top{
		width: 60px;
		display: block;
		.cms-scroll-top-arrow{
			width: 60px;
			height: 60px;
			line-height: 60px;
			font-size: 20px;
			color: $white;
			display: block;
			@include box-shadow(0 0 0 2px $secondary-color inset);
			&:hover{
				background: $secondary-color;
			}
		}
	}
	.cms-qc-scroll{
		@media (max-width: $screen-lg-min){
			display: none;
		}
	}
	.cms-scroll-top-icon > span{
		position: relative;
		@include animation(vibrate 2s linear 0s infinite);
	}
	.cms-scroll-top-text{
		color: $white;
	}
}

.cms-quick-contact-layout-3{
	.cms-icon-wrap{
		width: 48px;
		height: 48px;
		line-height: 48px;
	}
}