.cms-social-item > {
	a{
		display: block;
	}
}
// Layout 2
.cms-socials-layout-2{
	a{
		width: 50px;
		height: 50px;
		@include box-shadow(0 0 0 2px #242424 inset!important);
	}
}

// Layout 3
.cms-socials-layout-3,
.cms-socials-layout-4,
.cms-socials-layout-5{
	a{
		width: 32px;
		height: 32px;
		line-height: 32px;
		font-size: 20px;
		text-align: center;
		@include box-shadow(0 0 0 2px $border-color inset);
		&:hover{
			color: $white;
			background: $secondary-color;
			@include box-shadow(0 0 0 2px $secondary-color inset);
		}
		i{
			display: block;
			@include transform(translateY(3px));
		}
	}
}
.cms-socials-layout-3{
	a{
		color: $secondary-color;
	}
}
.cms-socials-layout-4{
	a{
		color: $accent-color;
	}
}
.cms-socials-layout-5{
	a{
		color: $primary-color;
		@include border-radius(50%);
		&:hover{
			color: $white;
			background: $secondary-color;
		}
	}
}
.cms-social-layout-6{
	a{
		width: 52px;
		height: 40px;
		font-size: 16px;
		line-height: 40px;
		display: block;
		text-align: center;
		&:hover{
			@include transform(translateY(-5px));
		}
	}
}
.cms-social{
	&.bg-colored{
		a{
			@include saniga_social_color(background-color);
			color: $white;
		}
	}
}