.cms-team-social{
	display: flex;
	flex-wrap: wrap;
	a{
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
		padding: 5px;
		@media(min-width: $screen-lg-min){
			@include transform(scale(0));
		}
	}
	span{
		width: 20px;
		height: 20px;
		line-height: 20px;
		display: block;
		text-align: center;
		font-size: 12px;
		@include border-radius(50%);
	}
}
.cms-team-item:hover{
	.cms-team-social{
		a{
			@include transform(scale(1));
		}
	}
}
.cms-teams-layout-1{
	.cms-team-social{
		a{
			span{
				background-color: $white;
				color: $accent-color;
			}
		}
	}
	@media(max-width: $screen-lg-min){
		.cms-team-info {
			background-color: $accent-color;
			color: $white;
			*{
				color: $white;
			}
		}
	}
}
.cms-teams-layout-2{
	.cms-team-social-wrap {
		background-color: white;
		visibility: hidden;
		bottom: -60px;
		left: 0;
		right: 0;
		padding-top: 25px;
		overflow: hidden;
		@media (max-width: $screen-lg-min){
			bottom: -5px;
			visibility: visible;
		}
	}
	.cms-team-social{
		a{
			span{
				background-color: $accent-color;
				color: $white;
			}
		}
	}
	.cms-team-info{
		position: relative;
		z-index: 1;
	}
	.cms-team-item:hover{
		.cms-team-social-wrap{
			visibility: visible;
			bottom: -15px;
			@media (max-width: $screen-lg-min){
				bottom: -5px;
			}
		}
	}
}