.cms-team-social{
	display: flex;
	flex-wrap: wrap;
	a{
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
		padding: 5px;
		@media(min-width: $screen-lg-max){
			@include transform(scale(0));
		}
	}
	span{
		width: 20px;
		height: 20px;
		line-height: 20px;
		display: block;
		text-align: center;
		font-size: 12px;
		@include border-radius(50%);
		background-color: $secondary-color;
		color: $white;
		&.cmsi:before{
			display: block;
			@include transform(translateY(4px));
		}
		&:hover{
			background-color: $accent-color;
			color: $primary-color;
		}
	}
}
.cms-team-item:hover{
	.cms-team-social{
		a{
			@include transform(scale(1));
		}
	}
}

.cms-teams-layout-2{
	.cms-team-social-wrap {
		background-color: white;
		visibility: hidden;
		bottom: -60px;
		left: 0;
		right: 0;
		padding-top: 25px;
		overflow: hidden;
		@media (max-width: $screen-lg-max){
			bottom: 0;
			visibility: visible;
		}
	}
	.cms-team-info{
		position: relative;
		z-index: 1;
	}
	.cms-team-item:hover{
		.cms-team-social-wrap{
			visibility: visible;
			bottom: 0;
		}
	}
}