.cms-ttmn-star{
	.cms-star-rating:before{
		@include opacity(0);
	}
}

.cms-testimonial-layout-1{
	.cms-ttmn-content{
		padding-left: 110px;
	}
	.cms-quote-icon{
		font-size: 30px;
		max-width: 30px;
		left: 38px;
		top: 10px;
	}
	.cms-ttmn-star{
		padding-top: 2px;
	}
	@media (max-width: $screen-md-max){
		.cms-ttmn-content{
			padding-left: 70px;
		}
		.cms-quote-icon{
			left: 0;
		}
	}
}

.cms-testimonial-layout-2{
	.cms-ttmn-item-inner{
		background: url('../images/icons/quote-right-white-1.png') top right no-repeat;
	}
	// Nav arrows
	&.cms-slick-nav-bottom-right{
		.cms-slick--arrows{
			position: absolute;
		    bottom: 130px;
		    right: 0;
		    [dir="rtl"] &{
		    	right: auto;
		    	left: 0;
		    }
			.cms-slick-arrows{
				padding-top: 0;
			}
		}
	}
}