.cms-video-player{
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.btn-video-wrap{
	.cms-btn-text{
		line-height: 1.4;
	}
}
.cms-video-play-btn-top-left,
.cms-video-play-btn-top-right,
.cms-video-play-btn-top-center,
.cms-video-play-btn-center-left,
.cms-video-play-btn-center-right,
.cms-video-play-btn-center-center,
.cms-video-play-btn-bottom-left,
.cms-video-play-btn-bottom-right,
.cms-video-play-btn-bottom-center{
	.btn-video-wrap{
		position: absolute;
	}
}
.cms-video-play-btn-top-left,
.cms-video-play-btn-top-center,
.cms-video-play-btn-top-right{
	.btn-video-wrap{
		top: 40px;
	}
}
.cms-video-play-btn-bottom-left,
.cms-video-play-btn-bottom-center,
.cms-video-play-btn-bottom-right{
	.btn-video-wrap{
		bottom: 40px;
	}
}
.cms-video-play-btn-top-left,
.cms-video-play-btn-center-left,
.cms-video-play-btn-bottom-left{
	.btn-video-wrap{
		left: 40px;
		[dir="rtl"] &{
			left: auto;
			right: 40px;
		}
	}
}
.cms-video-play-btn-top-right,
.cms-video-play-btn-center-right,
.cms-video-play-btn-bottom-right{
	.btn-video-wrap{
		right: 40px;
		[dir="rtl"] &{
			right: auto;
			left: 40px;
		}
	}
}
.cms-video-play-btn-top-center,
.cms-video-play-btn-bottom-center{
	.btn-video-wrap{
		left: 50%;
		@include transform(translateX(-50%));
	}
}
.cms-video-play-btn-center-left,
.cms-video-play-btn-center-right{
	.btn-video-wrap{
		top: 50%;
		@include transform(translateY(-50%));
	}
}
.cms-video-play-btn-center-center{
	.btn-video-wrap{
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
}
// Layout 1
.cms-video-layout-1{
	.cms-video-title.bg-grey{
		background: #f5f5f5;
	}
	@media (min-width: $screen-md-min){
		.cms-video-text{
			position: absolute;
			bottom: 0;
			left: 0;
			max-width: 400px;
			[dir="rtl"] &{
				left: auto;
				right: 0;
			}
		}
	}
}
// Play icon style 1
.cms-video-play-icon-style-1{
	.cms-icon-wrap{
		position: relative;
		&:before{
			content: '';
			width: 118px;
			height: 118px;
			border: 2px solid $white;
			@include border-radius(50%);
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
		}
	}
}
// Play icon style
.cms-video-play-icon-style-2{
	.btn-video-wrap{
		width: 100px;
		background-color: $white;
		@include border-radius(8px);
		.cms-img{
			position: absolute;
			@include border-radius(8px);
		}
		.cms-icon-wrap{
			margin: 30px auto;
		}
	}
}
// Play icon style 3
.cms-video-play-icon-style-3{
	.cms-popup{
		display: flex;
		flex-wrap: wrap;
		align-items:center;
		> span{
			flex: 0 0 auto;
			max-width: 100%;
		}
		.cms-text{
			&:after{
				content: '';
				width: 70px;
				height: 2px;
				display: inline-block;
				margin: 0 45px 4px 30px;
				background-color: $border-color;
				[dir="rtl"] &{
					margin: 0 30px 4px 45px;
				}
			}
		}
		.cms-icon-wrap{}
	}
}