// Section 
.elementor-section {
  //padding-top: 85px;
  //padding-bottom: 85px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .elementor-container{
    flex-wrap: wrap;
    justify-content: center;
  }
}
$grid-extended : 80px;
// Row 
body{
  .elementor-section{
    // Spacing
    &.cms-section-padding{
      padding-top:90px;
      padding-bottom:90px;
    }
    // Section Boxed 
    &.elementor-section-boxed>.elementor-container{
      max-width: #{$desktop-screen + $grid-gutters};
      // No Gap
      &.elementor-column-gap-no{
        max-width: $desktop-screen;
      }
      // Gap Default
      &.elementor-column-gap-default{ 
        >.elementor-column>.elementor-element-populated{
          padding: $grid-gutters/2;
        }
      }
      // Gap extended
      &.elementor-column-gap-extended{
        max-width: #{$desktop-screen + $grid-extended};
        >.elementor-column>.elementor-element-populated{
          padding: $grid-extended/2;
        }
      }
    }
  }
  .elementor-section.elementor-section-stretched.elementor-section-boxed>.elementor-container{
    &.elementor-column-gap-default{
      //padding-left: $gap-default/2;
      //padding-right: $gap-default/2;
    }
    &.elementor-column-gap-narrow{
      //padding-left: $gap-narrow/2;
      //padding-right: $gap-narrow/2;
    }
    &.elementor-column-gap-extended{
      padding-left: $gap-extended/2;
      padding-right: $gap-extended/2;
    }
    &.elementor-column-gap-wide{
      //padding-left: $gap-wide/2;
      //padding-right: $gap-wide/2;
    }
    &.elementor-column-gap-wider{
      //padding-left: $gap-wider/2;
      //padding-right: $gap-wider/2;
    }
  }
  .elementor-section.elementor-section-full_width>.elementor-container{
    &.elementor-column-gap-default{
      //max-width: calc(100% - #{$gap-default});
    }
    &.elementor-column-gap-narrow{
      //max-width: calc(100% - #{$gap-narrow});
    }
    &.elementor-column-gap-extended{
      //max-width: calc(100% - #{$gap-extended});
    }
    &.elementor-column-gap-wide{
      //max-width: calc(100% - #{$gap-wide});
    }
    &.elementor-column-gap-wider{
      //max-width: calc(100% - #{$gap-wider});
    }
  }
}
.elementor-section{
  //padding-top: 110px;
  //padding-bottom: 110px;
  .elementor-column-gap-no &,
  &.elementor-inner-section{
    //padding-top: 0;
    //padding-bottom: 0;
  }
}
// custom post type
.cms-header-top {
  .elementor-section{
  	//padding-top: 0;
  	//padding-bottom: 0;
  }
  .elementor-row{
    //padding-top: 0;
    //padding-bottom: 0;
  }
}
// Overlay background
.elementor-background-overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.95;
}
// Elementor Section Carousel
.elementor-section.cms-elementor-carousel {
  .elementor-container.slick-slider{
    .slick-list{
      margin: -100px;
      padding: 100px;
    }
    .elementor-column{
      padding: 0 20px;
      visibility: hidden;
      opacity: 0;
      &.slick-active{
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .cms-elementor-section-carousel-dots{
    margin-top: 40px;
  }
}