.elementor-widget-wrap>.elementor-inner-section.elementor-section-boxed{
	max-width: calc(100% + #{$grid-gutters});
    width: calc(100% + #{$grid-gutters});
    margin-left: $grid-gutters/-2;
    margin-right: $grid-gutters/-2;
}

.elementor-inner-section.bg-full-right{
	&:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		left: 100%;
		background-color: inherit;
		[dir="rtl"] &{
			left: auto;
			right: 100%;
		}
	}
}
