.elementor-widget-wrap>.elementor-inner-section.elementor-section-boxed{
	max-width: calc(#{$desktop-screen} - 30px);
	> .elementor-container{
		margin-left: 0;
		[dir="rtl"] &{
			margin-left: auto;
			margin-right: 0;
		}
	}
}

.elementor-inner-section.bg-full-right{
	&:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		left: 100%;
		background-color: inherit;
		[dir="rtl"] &{
			left: auto;
			right: 100%;
		}
	}
}
