// Column hozirontal align
$alignment : (
	'start'  : 'flex-start',
	'end'    : 'flex-end',
	'center' : 'center',
	'between': 'space-between',
	'around' : 'space-around',
);
@each $name, $align in $alignment{
	.cms-justify-content-#{$name} {
		> .elementor-container{
			justify-content: #{$align};
		}
	}
}
@media (min-width: 1600px){
	.cms-justify-content-xxl-between {
		> .elementor-container{
			justify-content: space-between;
		}
	}
}
.elementor-background-overlay{
	[dir="rtl"] &{
		@include flip();
	}
}

// Boxed background
.cms-boxed-bg-true > .cms-section-boxed-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $accent-color;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media (min-width: 1600px){
		left: 80px;
		right: 80px;
	}
	&:before,
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
// Boxed Divider 
.cms-section-boxed-divider-true{
	.cms-section-boxed-divider{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-color: $border-color;
	}
	&.elementor-section-boxed {
		.cms-section-boxed-divider{
			@media (min-width: 1366px){
				left: 40px;
				right: 40px;
			}
			@media (min-width: 1440px){
				left: 80px;
				right: 80px;
			}
		}
	}

	&.cms-section-boxed-divider-bottom{
		.cms-section-boxed-divider{
			top: auto;
			bottom: 0;
		}
	}
}
@import 'custom_column';
@import 'custom_inner_section';
@import 'custom_section';
//@import 'el_image';
//@import 'el_list';
//@import 'el_text_editor';
//@import 'el_video';