.cms-page-title-layout12{
	@media (min-width: $desktop-screen){
		padding-top: 260px;
		padding-bottom: 100px;
		.cms-page-title{
			font-size: 75px;
		}
		.cms-breadcrumb{
			margin-top: -13px;
		}
	}
}