/* Sticky Sidebar */
.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
.admin-bar .sidebar-sticky  {
  top: 60px;
}
.header-sticky .sidebar-sticky {
  top: 110px;
}
.admin-bar.header-sticky .sidebar-sticky{
  top: 140px;
}
// Widget area style 
.cms-sidebar-area-inner{
	> .cms-widget{
		margin-bottom: 40px;
		padding: 30px;
		background-color: rgb(254, 254, 254);
		box-shadow: 0px 5px 83px 0px rgba(27, 26, 26, 0.12);
		border-top: 6px solid $accent-color;
		@media (min-width: $screen-lg-min){
			padding: 50px;
		}
		&:last-child{
			margin-bottom: 0;
		}
		.cms-widget-title{
			margin-top: -11px;
		}
		// widget search
		&.widget_search{
			background: $secondary-color;
			color: $white;
			border-top: 0;
			.cms-widget-title{
				color: $white;
				margin-top: -5px;
			}
			.cms-search-field{
				border: none;
			}
		}
	}
	@media (max-width: $screen-md-max){
		margin-top: 50px;
	}
}

// Bottom sidebar 
.cms-sidebar-area-bottom {
	padding-top: 50px;
	.cms-sidebar-area-inner{
		-moz-column-gap: 30px;
    	-webkit-column-gap: 30px;
    	column-gap: 30px;

    	-moz-column-count: 1;
    	-webkit-column-count: 1;
    	column-count: 1;
    	@media (min-width: $screen-lg-min){
			-moz-column-count: 2;
		    -webkit-column-count: 2;
		    column-count: 2;
		}
		@media (min-width: $screen-xl-min){
			-moz-column-count: 3;
		    -webkit-column-count: 3;
		    column-count: 3;
		}
		> .cms-widget{
			display: inline-block;
			width: 100%;
		}
	}
}
// Sidebar shop 
.cms-sidebar-shop .cms-sidebar-area-inner {
	> .cms-widget{
		padding: 0;
		background-color: transparent;
		@include border-radius(0 !important);
		&:after{
			display: none;
		}
	}
}