body:not(.elementor-page) #cms-main{
	padding: 100px 0;
}

#cms-page{
	overflow-x: hidden;
}

// Container
.container-wide{
	padding-left: $grid-gutters/2;
	padding-right: $grid-gutters/2;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: $screen-xxl-min){
		max-width: 1600px;		
	}
}
.container-full{
	padding-left: $grid-gutters/2;
	padding-right: $grid-gutters/2;
	@media (min-width: $screen-xxl-min){
		padding-left: 45px;
		padding-right: 45px;
	}
}