#cms-page{
	overflow-x: hidden;
}
#cms-page,
#cms-main{
	position: relative;
}
#cms-main{
	background-color: $white;
}
.elementor-editor-active {
	#cms-page{
		overflow-x: visible;
	}
	#cms-main{
		position: relative;
		z-index: 10;
	}
}
body:not(.elementor-page) #cms-main{
	padding: 100px 0;
}

// Container
.container-wide{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: $screen-xxl-min){
		max-width: 1600px;		
	}
}
.container-full{
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width: $screen-xxl-min){
		padding-left: 45px;
		padding-right: 45px;
	}
}