.widget_archive,
.widget_categories,
.widget_pages,
.widget_nav_menu,
.widget_product_categories,
.woocommerce-widget-layered-nav-list,
.widget_layered_nav_filters{
	li{
		padding: 0;
		&:last-child{
			a{
				border-bottom: 0;
			}
		}
	}
	a{
		padding: 20px;
		background: #222;
		color: $white;
		font-weight: 700;
		border-bottom: 2px solid $border-color;
		&:hover{
			color: $white;
			background: $accent-color;
			.count{
				border-color: $primary-color;
				background: $primary-color;
				color: $white;
			}
		}
	}
	.children {
		li:last-child a{
			border-bottom: 2px solid $border-color;
		}
		a{
			padding-left: 40px;
			[dir="rtl"] &{
				padding-left: 20px;
				padding-right: 40px;
			}
		}	
		.children{
			a{
				padding-left: 60px;
				[dir="rtl"] &{
					padding-left: 20px;
					padding-right: 60px;
				}
			}	
		}
	}
	.sub-menu{
		li:last-child a{
			border-bottom: 2px solid $border-color;
		}
	}
}

.widget_layered_nav_filters{
	a{
		&:before{
			background: none;
		}
	}
}

.widget_categories{
	ul.children{
		//margin-left: 15px;
	}
}