.widget_cms_recent_posts{
	.post-item{
		padding-bottom: 40px;
		&:last-child{
			padding-bottom: 0;
		}
	}
	.cms-post-title{
		max-height: 67px;
		overflow: hidden;
	}
	// layout 3
	.layout-3{
		.post-item{
			padding-bottom: 20px;
			&:last-child{
				padding-bottom: 0;
			}
		}
		.cms-post-title{
			max-height: unset;
		}
	}
}