.widget_nav_menu {
    &.horizontal{
        .menu{
            display: flex;
            flex-wrap: wrap;
            margin: -8px;
            li{
                flex: 0 0 auto;
                width: auto;
                max-width: 100%;
                padding: 8px;
                a{
                    padding: 0;
                    display: inline-block;
                    border-bottom: 1px solid transparent;
                    &:hover{
                        border-color: $secondary_color;
                    }
                }
                &:after{
                    content: '';
                    width: 4px;
                    height: 4px;
                    display: inline-block;
                    margin-left: 8px;
                    @include border-radius(50%);
                    
                    [dir="rtl"] &{
                        margin-left: 0;
                        margin-right: 8px;
                    }
                }
                &:last-child:after{
                    display: none;
                }
            }
        }
        .sub-menu{
            display: none;
        }
    }
    .menu-item{
        position: relative;
        .cms-menu-toggle{
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background: $secondary_color;
            color: $white;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            z-index: 2;
            &:before{
                @include font-cmsi("\f089");
            }
            [dir="rtl"] &{
                right: auto;
                left: 20px;
            }
            &.open:before{
                content: '\f002';
            }
        }
        .sub-menu{
            display: none;
            &.submenu-open{
                //display: block;
            }
        }
    }
}