@charset "UTF-8";

@font-face {
  font-family: "font-cmsi";
  src:url("fonts/font-cmsi.eot");
  src:url("fonts/font-cmsi.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-cmsi.woff") format("woff"),
    url("fonts/font-cmsi.ttf") format("truetype"),
    url("fonts/font-cmsi.svg#font-cmsi") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "font-cmsi" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cmsi-"]:before,
[class*=" cmsi-"]:before {
  font-family: "font-cmsi" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmsi-angle-left:before {
  content: "\f000";
}
.cmsi-angle-right:before {
  content: "\f001";
}
.cmsi-angle-up:before {
  content: "\f002";
}
.cmsi-arrow-down:before {
  content: "\f003";
}
.cmsi-arrow-left:before {
  content: "\f004";
}
.cmsi-arrow-right:before {
  content: "\f005";
}
.cmsi-arrow-up:before {
  content: "\f006";
}
.cmsi-calendar-alt:before {
  content: "\f007";
}
.cmsi-check:before {
  content: "\f009";
}
.cmsi-check-circle:before {
  content: "\f010";
}
.cmsi-check-square:before {
  content: "\f011";
}
.cmsi-chevron-circle-down:before {
  content: "\f012";
}
.cmsi-chevron-circle-left:before {
  content: "\f013";
}
.cmsi-chevron-circle-right:before {
  content: "\f014";
}
.cmsi-chevron-circle-up:before {
  content: "\f015";
}
.cmsi-chevron-down:before {
  content: "\f016";
}
.cmsi-chevron-left:before {
  content: "\f017";
}
.cmsi-chevron-right:before {
  content: "\f018";
}
.cmsi-chevron-up:before {
  content: "\f019";
}
.cmsi-circle:before {
  content: "\f020";
}
.cmsi-dribbble:before {
  content: "\f021";
}
.cmsi-dropbox:before {
  content: "\f022";
}
.cmsi-facebook:before {
  content: "\f023";
}
.cmsi-facebook-f:before {
  content: "\f024";
}
.cmsi-facebook-messenger:before {
  content: "\f025";
}
.cmsi-facebook-square:before {
  content: "\f026";
}
.cmsi-flickr:before {
  content: "\f027";
}
.cmsi-folder:before {
  content: "\f028";
}
.cmsi-folder-open:before {
  content: "\f029";
}
.cmsi-font-awesome-flag:before {
  content: "\f030";
}
.cmsi-google:before {
  content: "\f031";
}
.cmsi-google-drive:before {
  content: "\f032";
}
.cmsi-google-play:before {
  content: "\f033";
}
.cmsi-heart:before {
  content: "\f034";
}
.cmsi-heartbeat:before {
  content: "\f035";
}
.cmsi-html5:before {
  content: "\f036";
}
.cmsi-info:before {
  content: "\f037";
}
.cmsi-info-circle:before {
  content: "\f038";
}
.cmsi-instagram:before {
  content: "\f039";
}
.cmsi-instagram-square:before {
  content: "\f040";
}
.cmsi-linkedin:before {
  content: "\f041";
}
.cmsi-linkedin-in:before {
  content: "\f042";
}
.cmsi-linux:before {
  content: "\f043";
}
.cmsi-long-arrow-alt-down:before {
  content: "\f044";
}
.cmsi-long-arrow-alt-left:before {
  content: "\f045";
}
.cmsi-long-arrow-alt-right:before {
  content: "\f046";
}
.cmsi-long-arrow-alt-up:before {
  content: "\f047";
}
.cmsi-mailchimp:before {
  content: "\f048";
}
.cmsi-map-marker-alt:before {
  content: "\f049";
}
.cmsi-minus:before {
  content: "\f050";
}
.cmsi-pencil-alt:before {
  content: "\f051";
}
.cmsi-phone-alt:before {
  content: "\f052";
}
.cmsi-pinterest:before {
  content: "\f054";
}
.cmsi-pinterest-p:before {
  content: "\f055";
}
.cmsi-pinterest-square:before {
  content: "\f056";
}
.cmsi-play:before {
  content: "\f057";
}
.cmsi-play-circle:before {
  content: "\f058";
}
.cmsi-plus:before {
  content: "\f059";
}
.cmsi-reddit:before {
  content: "\f060";
}
.cmsi-reddit-alien:before {
  content: "\f061";
}
.cmsi-safari:before {
  content: "\f062";
}
.cmsi-sign-in-alt:before {
  content: "\f063";
}
.cmsi-sign-out-alt:before {
  content: "\f064";
}
.cmsi-skype:before {
  content: "\f065";
}
.cmsi-slack:before {
  content: "\f066";
}
.cmsi-slack-hash:before {
  content: "\f067";
}
.cmsi-soundcloud:before {
  content: "\f068";
}
.cmsi-spinner:before {
  content: "\f069";
}
.cmsi-sync:before {
  content: "\f070";
}
.cmsi-tag:before {
  content: "\f071";
}
.cmsi-tags:before {
  content: "\f072";
}
.cmsi-telegram-plane:before {
  content: "\f073";
}
.cmsi-times:before {
  content: "\f074";
}
.cmsi-times-circle:before {
  content: "\f075";
}
.cmsi-twitter:before {
  content: "\f076";
}
.cmsi-twitter-square:before {
  content: "\f078";
}
.cmsi-user:before {
  content: "\f079";
}
.cmsi-user-tie:before {
  content: "\f080";
}
.cmsi-users:before {
  content: "\f081";
}
.cmsi-video:before {
  content: "\f082";
}
.cmsi-vimeo:before {
  content: "\f083";
}
.cmsi-vimeo-square:before {
  content: "\f084";
}
.cmsi-vimeo-v:before {
  content: "\f085";
}
.cmsi-whatsapp:before {
  content: "\f086";
}
.cmsi-whatsapp-square:before {
  content: "\f087";
}
.cmsi-youtube:before {
  content: "\f088";
}
.cmsi-angle-down:before {
  content: "\f089";
}
.cmsi-undo:before {
  content: "\f090";
}
.cmsi-youtube-square:before {
  content: "\f091";
}
.cmsi-comments:before {
  content: "\f092";
}
.cmsi-dot-circle:before {
  content: "\f093";
}
.cmsi-eye:before {
  content: "\f094";
}
.cmsi-circle-1:before {
  content: "\f095";
}
.cmsi-clock:before {
  content: "\f096";
}
.cmsi-comment:before {
  content: "\f097";
}
.cmsi-comment-alt:before {
  content: "\f098";
}
.cmsi-comment-dots:before {
  content: "\f099";
}
.cmsi-pause-circle:before {
  content: "\f100";
}
.cmsi-play-circle-1:before {
  content: "\f101";
}
.cmsi-arrow-circle-down:before {
  content: "\f102";
}
.cmsi-arrow-circle-left:before {
  content: "\f103";
}
.cmsi-arrow-circle-right:before {
  content: "\f104";
}
.cmsi-arrow-circle-up:before {
  content: "\f105";
}
.cmsi-long-arrow-down:before {
  content: "\f106";
}
.cmsi-long-arrow-left:before {
  content: "\f107";
}
.cmsi-long-arrow-right:before {
  content: "\f108";
}
.cmsi-long-arrow-up:before {
  content: "\f109";
}
.cmsi-star:before {
  content: "\f110";
}
.cmsi-star-1:before {
  content: "\f111";
}
.cmsi-user-circle:before {
  content: "\f112";
}
.cmsi-user-1:before {
  content: "\f113";
}
.cmsi-search:before {
  content: "\f114";
}
.cmsi-tripadvisor:before {
  content: "\f115";
}
.cmsi-tumblr:before {
  content: "\f116";
}
.cmsi-tumblr-square:before {
  content: "\f117";
}
.cmsi-yelp:before {
  content: "\f118";
}
.cmsi-shopping-bag:before {
  content: "\f119";
}
.cmsi-shopping-cart:before {
  content: "\f120";
}
.cmsi-shopping-basket:before {
  content: "\f121";
}
.cmsi-rss:before {
  content: "\f122";
}
.cmsi-thumbtack:before {
  content: "\f123";
}
.cmsi-youtube-1:before {
  content: "\f124";
}
.cmsi-twitter-1:before {
  content: "\f125";
}
.cmsi-linkedin-1:before {
  content: "\f126";
}
.cmsi-facebook-1:before {
  content: "\f127";
}
.cmsi-envelope:before {
  content: "\f128";
}
.cmsi-envelope-open:before {
  content: "\f129";
}
.cmsi-envelope-1:before {
  content: "\f130";
}
.cmsi-envelope-open-1:before {
  content: "\f131";
}
.cmsi-envelope-open-text:before {
  content: "\f132";
}
.cmsi-mouse:before {
  content: "\f133";
}
.cmsi-clock-fill:before {
  content: "\f134";
}
