.header-layout1.is-ontop.header-ontop,
.header-layout1.is-sticky.header-sticky{
	border-bottom: 1px solid rgba($border-color, 0.2);
	.header-separator span{
		background-color: $border-color;
		@include opacity(0.2);
	}
}

.header-layout1{
	.cms-btn-header{
		@media (min-width: 1201px) and (max-width: 1300px ){
			.cms-btn-content{
				display: none;
			}
			&:before{
				@include font-cmsi("\f038");
			}
		}
	}
}