$menu-item-space: 30px;
$sub-menu-w: 235px;
$menu_arrows_down: '\f089';
$menu_arrows_up: '\f002';
$menu_arrow_size: 100%;
$menu_item_icon: "\f108";
$menu_item_icon_rtl: "\f107";
.cms-primary-menu{
	padding: 0;
	margin: 0;
	list-style: none;
	li{
		position: relative;
	}
	ul, ol{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.sub-menu{
		li{
			padding: 0;
			&:last-child{
				a{
					border-bottom: 0;
				}
			}
		}
		a{
			display: block;
			font-size: var(--dropdown-font-size);
			padding: 5px 0;
			background-color: var(--dropdown-item-bg);
			position: relative;
			border-bottom: $border-main;
			&:before{
				// @include font-cmsi($menu_item_icon);
				// position: absolute;
				// left: 0;
				// visibility: hidden;
				// @include opacity(0);
				// @include transition();
				// [dir="rtl"] &{
				// 	@include font-cmsi($menu_item_icon_rtl);
				// 	left: auto;
				// 	right: 0;
				// }
			}
			&:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: -1px;
				width: 0;
				height: 1px;
				background-color: var(--dropdown-hover);
				@include transition();
				[dir="rtl"] &{
					left: auto;
					right: 0;
				}
			}

			&:hover{
				color: var(--dropdown-hover);
				background-color: var(--dropdown-item-bg-hover);
				//padding-left: 20px;
				&:before{
					//visibility: visible;
					//@include opacity(1);
				}
				&:after{
					width: 100%;
				}
				[dir="rtl"] & {
					padding-left: 0;
					//padding-right: 20px;
				}
			}

		}
		.current-menu-item,
		.current-menu-ancestor{
			> a{
				color: var(--dropdown-active);
				background-color: var(--dropdown-item-bg-hover);
			}
		}
		.cms-menu-title{
			display: block;
		}
	}
}
@media (min-width: $screen-xl-min){
	#cms-primary-menu{
		margin-left: $menu-item-space / -2;
		margin-right: $menu-item-space / -2;
		display: flex;
		flex-wrap: wrap;
		li{
			flex: 0 0 100%;
			width: 100%;
			max-width: 100%;
			// show sub menu
			&:hover{
				> .sub-menu{
					top: 0;
					z-index: 1;
					visibility: visible;
					@include opacity(1);
				}
			}
		}
		// Level 1
		> li {
			flex: 0 0 auto;
			width: auto;
			padding: 0 $menu-item-space /2;
			//separator
			&.cms-separator{
				padding-right: 70px;
				&:before{
					right: 70px;
				}
				&:after{
					content: '';
					width: 2px;
				    height: 27px;
				    display: block;
				    background-color: rgba(#091d3e, 0.15);
				    position: absolute;
				    top: 50%;
				    right: 30px;
				    @include transform(translateY(-50%));
				}
			}
			// bottom line
			&:before{
				content: '';
				position: absolute;
				left: $menu-item-space /2;
				right: $menu-item-space /2;
				bottom: 0;
				height: 4px;
				@include css3-prefix('transform-origin', 'right center');
				@include transform(scale(0, 1));
				@include transition(transform 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85));
			}
			// arrow
			> .main-menu-toggle:before{
				@include font-cmsi($menu_arrows_down, $menu_arrow_size);
				display: inline-block;
				position: relative;
				@include transform(translateY(3px));
			}
			// sub menu 
			> .sub-menu{
				left: 0;
				[dir="rtl"] &{
					left: auto;
					right: 0;
				}
			}
			&:hover > .sub-menu{
				top: 100%;
			}
			> a{
				line-height: var(--header-height);
				display: inline-block;
				.cms-menu-title{
					position: relative;
					padding-bottom: 10px;
					&:after{
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						bottom: 0;
						width: 0;
						height: 3px;
						@include transition();
					}
				}
				&:hover{
					.cms-menu-title{
						&:after{
							left: 0;
							width: 100%;
						}
					}
				}
			}
			&.current-menu-item,
			&.current-menu-ancestor,
			&:hover{
				&:before{
					@include css3-prefix('transform-origin', 'left center');
					@include transform(scale(1, 1));
				}
				> a{
					.cms-menu-title:after{
						left: 0;
						width: 100%;
					}
				}
			}
		}
		// Level 2
		.sub-menu{
			width: $sub-menu-w;
			color: var(--dropdown-regular);
			background: var(--dropdown-bg);
			position: absolute;
			top: calc(100% + 30px);
			left: 100%;
			padding: 20px 40px;
			z-index: -1;
			visibility: hidden;
			@include box-shadow(var(--dropdown-shadow));
			@include opacity(0);
			@include transition();
			&.back{
				left: auto;
				right: 100%;
			}
			[dir="rtl"] &{
				left: auto;
				right: 100%;
				&.back{
					right: auto;
					left: 100%;
				}
			}
			li{
				padding: 2px 0;
			}
			// Parents arrow 
			.cms-parent-menu-icon:before{
				@include font-cmsi("\6a", 12px);
			}
		}
		// Parents arrow 
		.cms-parent-menu-icon{
			float: right;
			&:before{
				margin-left: 5px;
				@include font-cmsi("\6a", 12px);
				[dir="rtl"] &{
					margin-left: 0;
					margin-right: 5px;
				}
			}
			[dir="rtl"] &{
				float: left;
			}
		}
	}
}