.cms-header-logo{
	a{
		padding-top: 15px;
		padding-bottom: 15px;
		display: block;
		max-width: var(--logo-width);
		//max-height: var(--logo-height);
	}
	.logo-ontop,
	.logo-sticky,
	.logo-mobile{
		display: none;
	}
	@media (max-width: $screen-lg-max){
		.logo-default,
		.logo-ontop,
		.logo-sticky{
			display: none!important;
		}
		.logo-mobile{
			display: block;
		}
	}
}
// ontop
.header-ontop .cms-header-logo{
	.logo-ontop{
		display: block;
	}
	.logo-default,
	.logo-sticky{
		display: none;
	}
}
// sticky 
.header-sticky .cms-header-logo{
	.logo-sticky{
		display: block;
	}
	.logo-default,
	.logo-ontop{
		display: none;
	}
}

@media (max-width: $screen-lg-max){
	.cms-header-logo{
		.cms-logo{
			max-width: var(--logo-width-sm);
			//max-height: var(--logo-height-sm);
		}
	}
}