.cms-header-cart-content{
	.widget_shopping_cart{
		width: 320px;
		position: absolute;
		top: 200px;
		right: 20px;
		visibility: hidden;
		background: $white;
		padding: 30px;
		z-index: 1;
		@include border-radius(0 0 8px 8px);
		@include opacity(0);
		@include transition();
		@include transform(translateY(50px));
		&.open{
			visibility: visible;
			@include opacity(1);
			@include transform(translateY(0));
		}
		.button.checkout{
	    	display: none;
	    }
	    [dir="rtl"] {
	    	right: auto;
	    	left: 20px;
	    }
	}
}
// Header icon
.header-icon {
	position: relative;
	font-size: 20px;
	cursor: pointer;
}
// Header count 
.h-btn-cart {
	> span:not(.cart-count){
		padding-right: 15px;
	}
	> .menu-text {
		padding-right: 5px;
		[dir="rtl"] &{
			padding-right: 0;
			padding-left: 5px;
		}
	}
}
.cart-count{
	position: absolute;
	top: -5px;
	right: 20px;
	min-width: 19px;
	height: 19px;
	line-height: 19px;
	background: $secondary-color;
	color: $white;
	@include border-radius(50%);
	font-size: 12px;
	text-align: center;
	padding: 0 3px;
}
// Header Text 
.menu-text{
	font-size: var(--menu-font-size);
	font-weight: var(--menu-font-weight);
	font-family: var(--menu-font-family);
	&:hover{
		color: var(--menu-hover);
	}
}