#cms-footer{
	&.cms-footer-fixed{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	@media (min-width: $screen-xxl-min){
		&:after{
			content: '';
			border-left: 1px solid #353535;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 109px;
			[dir="rtl"] &{
				right: auto;
				left: 109px;
			}
		}
	}
}
.cms-footer-bottom{
	padding: 15px 0;
}
@import "scrolltop";