.cms-badge{}

.cms-badge-1{
	height: 65px;
	min-width: 60px;
	position: relative;
	background-color: $secondary-color;
	color: $white;
	padding: 0 10px;
	overflow: hidden;
	@include border-radius(4px 0 0 4px);
	[dir="rtl"] &{
		@include border-radius(0 4px 4px 0);
	}
	&:before,
	&:after{
		content: '';
		display: block;
		position: absolute;
	}
	&:after{
		height: 5px;
		width: 100%;
		background: $white;
		left: 5px;
		bottom: 0;
		[dir="rtl"] &{
			left: auto;
			right: 5px;
		}
	}
}