.cms-badge-1{
	height: 65px;
	min-width: 60px;
	position: relative;
	background-color: $secondary-color;
	color: $white;
	padding: 0 10px;
	overflow: hidden;
	@include border-radius(4px 0 0 4px);
	[dir="rtl"] &{
		@include border-radius(0 4px 4px 0);
	}
	&:before,
	&:after{
		content: '';
		display: block;
		position: absolute;
	}
	&:after{
		height: 5px;
		width: 100%;
		background: $white;
		left: 5px;
		bottom: 0;
		[dir="rtl"] &{
			left: auto;
			right: 5px;
		}
	}
}
.cms-badge-2{
	background: $secondary-color;
	color: $white;
	text-align: center;
	padding: 10px;
	position: relative;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	max-width: 47px;
	&:after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 23px 0 23px;
		border-color: $secondary-color transparent transparent transparent;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -6px;
	}
}
.cms-badge-3{
	background-color: $secondary-color;
	color: $white;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	padding: 4px 9px 15px 9px;
	position: relative;
	overflow: hidden;
	max-width: 72px;
	&:after{
		content: '';
		background: white;
		position: absolute;
	    left: 0;
	    right: 0;
	    height: 22px;
	    top: calc(100% - 10px);
	    border-radius: 50% 50% 0 0;
	}
}

.cms-ribbon {
  position: absolute;
  right: -7px; 
  top: -7px;
  z-index: 1;
  overflow: hidden;
  width: 125px; 
  height: 125px;
  text-align: right;
  .main {
		font-weight: 700;
		color: $white;
		text-transform: uppercase;
		text-align: center;
		line-height: 35px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		width: 164px;
		display: block;
		//background: $secondary-color;
		border-color: $secondary-color;
		//background: linear-gradient($secondary-color 0%, $secondary-color 100%);
		//box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		position: absolute;
		top: 31px; 
		right: -34px;
	  	.before {
			content: "";
			position: absolute; left: 0px; top: 100%;
			z-index: -1;
			border-left-width: 3px;
			border-left-style: solid;
			border-right: 3px solid transparent;
			border-bottom: 3px solid transparent;
			border-top-width: 3px;
			border-top-style: solid;
		}
		.after {
			content: "";
			position: absolute; right: 0px; top: 100%;
			z-index: -1;
			border-left: 3px solid transparent;
			border-right-width: 3px;
			border-right-style: solid;
			border-bottom: 3px solid transparent;
			border-top-width: 3px;
			border-top-style: solid;
		}
	}
}