//cms-clip-path cms-clip-path-bl cms-clip-path-40
.cms-clip-path{
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1px;
		width: calc(100% + 10px);
		-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
		clip-path: polygon(0 0, 0% 100%, 100% 100%);
		background-color: $white;
		@include transition();
		.cms-clip-path-wrap:hover &{
			-webkit-clip-path: polygon(0 100%, 0 100%, 100% 100%);
			clip-path: polygon(0 100%, 0 100%, 100% 100%);
		}
	}
}
.cms-clip-path-40{
	&:after{
		height: 41px;
	}
}
@each $name, $color in $cms_theme_colors{
	.cms-clip-path-#{$name}{
		&:after{
			background-color: #{$color};
		}
	}
}