// Theme Colors
@each $name, $color in $cms_theme_colors {
	// link color
	.link-#{$name} {
		color: #{$color};
		a{
			color: #{$color};
		}
	}
	.link-hover-#{$name}{
		&:hover{
			color: #{$color};
			a{
				color: #{$color};
			}
		}
	}
	// text color
	.text-#{$name}{
		color: #{$color};
		&.cms-star-rated{
			color: #{$color};
		}
	}
	.text-hover-#{$name}:hover{
		color: #{$color};
	}
	// background color
	.bg-#{$name}{
		background-color: #{$color};
	}
	.bg-hover-#{$name}{
		&:hover{
			background-color: #{$color};
		}
	}
	// border color
	.bdr-#{$name} {
		border-color: #{$color};
	}
	.bdr-hover-#{$name}:hover{
		border-color: #{$color};
	}
	// divider
	.cms-divider-#{$name}:before{
		background-color: #{$color};
	}
}
.bg-light-accent {
	background-color: #e4f2e2;
}
.text-616161{
	color: #616161;
}
// Gradient
@each $name, $gradient in $cms_theme_gradient{
	.bg-gradient-#{$name},
	.cms-gradient-#{$name},
	.cms-overlay-gradient-#{$name} > .elementor-background-overlay,
	.cms-overlay-gradient-#{$name} > .elementor-column-wrap > .elementor-background-overlay{
		@include background-gradient($gradient)
	}
}