// enter your icon size: name : dimensions font-size  
$cms-icon-sizes: (
	'25': 25 20,
	'30': 30 25,
	'40': 40 30,
	'46': 46 30,
	'50': 50 35,
	'60': 60 40,
	'61': 61 40,
	'70': 70 50,
	'80': 80 60,
	'90': 90 70,
	'94': 94 64,
	'100': 100 80,
	'116': 116 50,
	'xl' : 100 50,
	'lg' : 80 40,
	'md' : 60 30,
	'sm' : 40 20
);
// icon style
$cms-icon-styles: (
	'1'
);
// icon
.cms-icon{
	display: inline-block;
	text-align: center;
	position: relative;
	line-height: 1;
	vertical-align: middle;
    &[data-title]{
    	&:after{
    		content: attr(data-title);
    		position: absolute;
    		top: -15px;
    		right: 0;
    		width: 40px;
    		height: 40px;
    		line-height: 40px;
    		text-align: center;
    		font-size: 20px;
    		font-weight: 700;
    		color: $primary_color;
    		background: $secondary_color;
    		font-family: var(--heading-font-family);
    		@include border-radius(50%);
    		[dir="rtl"] &{
    			right: auto;
    			left: 0;
    		}
    	}
    }
}
// icon list
.cms-icon-list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
	.cms-icon{
		flex: 0 0 auto;
	    max-width: 100%;
	    margin: 0 5px 10px;
	}
}
// icon size
@each $size, $value in $cms-icon-sizes{
	.cms-icon-#{$size},
	.icon-size-#{$size}{
		width: #{nth($value,1)}px;
		height: #{nth($value,1)}px;
		line-height: #{nth($value,1)}px;
		font-size: #{nth($value,2)}px;
	}
}