$search_icon_w: 48px;
//====================
.cms-search-form,
.woocommerce-product-search{
    position: relative;
    [type="search"] {
	    padding-right: $search_icon_w + 10px;
	    [dir="rtl"] &{
	        padding-right: 20px;
	        padding-left: $search_icon_w + 10px;
	    }
	}
	[type="submit"] {
	    width: $search_icon_w;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		background: transparent;
		border: 0;
		font-size: 0;
		text-indent: -999999px;
		color: $primary-color;
		[dir="rtl"] &{
			right: auto;
			left: 0;
		}
	    &:before{
			@include font-cmsi('\f114', 17px);
			position: absolute;
			top: 50%;
			left: 50%;
			text-indent: 0;
			@include transform(translate(-50%, -50%));
		}
		&:hover{
			color: $accent-color;
		}
	}
}

.cms-search-form-popup{
	width: 100%;
	max-width: 775px;
	margin: 0 auto;
	border-bottom: 2px solid $border-color;
	[type="search"]{
		border:none;
		padding-left: $search_icon_w + 10px;
		padding-right: 0;
		font-size: 35px;
		background: transparent;
		@include box-shadow(none);
		[dir="rtl"] &{
			padding-right: $search_icon_w + 10px;
	        padding-left: 0;
		}
	}
	[type="search"]::-webkit-input-placeholder{
		font-size: 35px;
		color: $body-font-color;
	}
	[type="submit"]{
		left: 0;
		&:before{
			font-size: 28px;
			margin-top: -2px;
		}
		[dir="rtl"] &{
			left: auto;
			right: 0;
		}
	}
}