@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $cms_theme_spacings {
        // all
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: #{$length}; }
        // top
        .#{$abbrev}t#{$infix}-#{$size} {
          #{$prop}-top: #{$length};
        }
        
        // right
        .#{$abbrev}r#{$infix}-#{$size} {
          #{$prop}-right: #{$length};
          [dir="rtl"] &{
            #{$prop}-right: 0;
            #{$prop}-left: #{$length};
          }
        }
        
        // bottom
        .#{$abbrev}b#{$infix}-#{$size} {
          #{$prop}-bottom: #{$length};
        }
        
        // left
        .#{$abbrev}l#{$infix}-#{$size} {
          #{$prop}-left: #{$length};
          [dir="rtl"] &{
            #{$prop}-left: 0;
            #{$prop}-right: #{$length};
          }
        }
        
        //left - right 
        .#{$abbrev}-lr#{$infix}-#{$size} {
          #{$prop}-left: #{$length};
          #{$prop}-right: #{$length};
        }
        // top - bottom 
        .#{$abbrev}-tb#{$infix}-#{$size} {
          #{$prop}-top: #{$length};
          #{$prop}-bottom: #{$length};
        }
        // auto
        .#{$abbrev}-lr#{$infix}-auto {
          #{$prop}-left: auto;
          #{$prop}-right: auto;
        }
      }
    }
    // Negative 
    @each $prop, $abbrev in (margin: m) {
      @each $size, $length in $cms_theme_spacings {
        // all
        .#{$abbrev}#{$infix}-n#{$size} { #{$prop}: -#{$length}; } // Negative
        // top
        .#{$abbrev}t#{$infix}-n#{$size} { // Negative
          #{$prop}-top: -#{$length};
        }
        // right
        .#{$abbrev}r#{$infix}-n#{$size} { // Negative
          #{$prop}-right: -#{$length};
          [dir="rtl"] &{
            //#{$prop}-right: inherit;
            #{$prop}-left: -#{$length};
          }
        }
        // bottom
        .#{$abbrev}b#{$infix}-n#{$size} { // Negative
          #{$prop}-bottom: -#{$length};
        }
        // left
        .#{$abbrev}l#{$infix}-n#{$size} {// Negative
          #{$prop}-left: -#{$length};
          [dir="rtl"] &{
            //#{$prop}-left: inherit;
            #{$prop}-right: -#{$length};
          }
        }
        
      }
    }
    // Some special margin utils
    .m#{$infix}-auto { margin: auto; }
    .mt#{$infix}-auto,
    .my#{$infix}-auto {
      margin-top: auto;
    }
    .mr#{$infix}-auto,
    .mx#{$infix}-auto {
      margin-right: auto;
    }
    .mb#{$infix}-auto,
    .my#{$infix}-auto {
      margin-bottom: auto;
    }
    .ml#{$infix}-auto,
    .mx#{$infix}-auto {
      margin-left: auto;
    }
  }
}