a,
.transition,
.cms-transition,
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6,
.cms-slick-dots button,
img{
	@include transition();
}
.cms-transition-1{
	@include transition(all 300ms linear 0s);
}
.cms-transition-2{
	@include transition(all 300ms linear 0.05s);
}