// Font weight 
$custom-font-weight:(
    'i'    : '',
    '400'  : '',
    '400i' : '',
    '500'  : '',
    '600'  : '',
    '500i' : '',
    '600i' : '',
    '700'  : '',
    '700i' : '',
);
// Font Style 
$font-styles: (
    '100' : '',
    '100i' : italic,
    '200' : '',
    '200i' : italic,
    '300' : '',
    '300i' : italic,
    '400' : '',
    '400i' : italic,
    '500' : '',
    '500i' : italic,
    '600' : '',
    '600i' : italic,
    '700' : '',
    '700i' : italic,
    '800' : '',
    '800i' : italic,
    '900' : '',
    '900i' : italic,
);
@each $name , $style in $font-styles {
    .font-#{$name}{
        font-weight: saniga_string_to_number($name)!important;
        @if $style != '' {
            font-style: $style;
        }
    }
}
$font-styles-local:(
    '400' : '',
    '400i' : '',
    '500' : '',
    '500i' : '',
    '600' : '',
    '600i' : '',
    '700' : '',
    '700i' : '',
);
@each $name , $font in $font-styles-local {
    body.cms-body-font-default .font-#{$name}{
        @if $font != '' {
            font-family: $font;
        }
    }
}
// Font Sizes
$font-sizes: (
    '10' : 10,
    '11' : 11,
    '12' : 12,
    '13' : 13,
    '14' : 14,
    '15' : 15,
    '16' : 16,
    '17' : 17,
    '18' : 18,
    '19' : 19,
    '20' : 20,
    '21' : 21,
    '22' : 22,
    '23' : 23,
    '24' : 24,
    '25' : 25,
    '26' : 26,
    '27' : 27,
    '28' : 28,
    '29' : 29,
    '30' : 30,
    '31' : 31,
    '32' : 32,
    '33' : 33,
    '34' : 34,
    '35' : 35,
    '36' : 36,
    '37' : 37,
    '38' : 38,
    '39' : 39,
    '40' : 40,
    '41' : 41,
    '42' : 42,
    '43' : 43,
    '44' : 44,
    '45' : 45,
    '46' : 46,
    '48' : 48,
    '50' : 50,
    '54' : 54,
    '55' : 55,
    '60' : 60,
    '64' : 64,
    '70' : 70,
    '75' : 75,
    '78' : 78,
    '80' : 80,
    '82' : 82,
    '85' : 85,
    '90' : 90,
    '100' : 100,
    '180' : 180,
    '200' : 200,
);
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $name , $size in $font-sizes {
            .text#{$infix}-#{$name}{
                font-size: #{$size}px;
            }
            .lh#{$infix}-#{$name}{
                line-height: #{$size}px;
                &.cms-heading{
                    line-height: #{$size}px;
                }
            }
        }
    }
}
$body-font-size :(
    'large',
    'medium',
    'small',
    'xsmall',
    'xxsmall'
);
@each $name in $body-font-size{
    .text-#{$name}{
        font-size: var(--body-font-size-#{$name});
    }
}

// letter spacing 
$letter-spacing: (
    20,
    30,
    40,
    50,
    70,
    100,
    200
);
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $name , $size in $font-sizes {
            .text#{$infix}-#{$name}{
                @each $va in $letter-spacing{
                    &.text-va-#{$va}{
                        letter-spacing: saniga_letter_spacing($va,$size);
                    }
                }
            }
        }
    }
}
//Line height
$custom-line-heights: (
    '1\/2': '1.2',
    '1\/3': '1.333'
);
@each $name , $line-height in $custom-line-heights {
    .lh-#{$name}{
        line-height: #{$line-height};
    }
}


// Custom font icon 
[class^="cmsi-"], 
[class*=" cmsi-"]{
    &:before{
        //display: inline-block;
        //transform: translateY(1px);
    }
}