ul, ol{
	list-style-position: inside;
	padding-left: 0;
	padding-right: 0;
	li{
		padding: 2px 0;
	}
	ul, ol{
		padding-left: 15px;
		[dir="rtl"] &{
			padding-left: 0;
			padding-right: 15px;
		}
	}
	&.unstyled{
		list-style: none;
		margin: 0;
		padding: 0;
		ul, ol{
			list-style: none;
		}	
	}
	&.horizontal{
		display: flex;
		flex-wrap: wrap;
		margin: -5px;
		> li{
			padding: 5px;
			flex: 0 0 auto;
			width: auto;
			max-width: 100%;
		}
	}
}
.cms-list-1{
	.cms-list-item{
		padding-bottom: 10px;
		&:last-child{
			padding-bottom: 0;
		}
		.cms-icon{
			transform: translateY(-3px);
		    display: inline-block;
		}
	}
}
